// ==========================================================================
// Foundation
// ==========================================================================
@use "./foundation/_reset";
@use "./foundation/_base";
@use "./foundation/_keyframes";
@use "./foundation/_animation";

// ==========================================================================
// layout
// ==========================================================================
@use "./layout/_container";

// ==========================================================================
// component
// ==========================================================================

// ==========================================================================
// project
// ==========================================================================

// ==========================================================================
// utility
// ==========================================================================
@use "./object/utility/_displayNone";

.p-slider {
  &__mainArea {
  }
  &__swiper {
  }

  &__wrapper {
  }

  &__slide {
    height: 100%;
  }

  &__imgBox {
    position: relative;
    overflow: hidden;
    aspect-ratio: 1 / 1;
  }
  &__img {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }

  &__subArea {
  }
  &__subSwiper {
  }
  &__subWrapper {
    // display: grid;
    // grid-template-columns: repeat(3, 1fr);
  }

  &__subSlide {
    width: 100%;
  }

  &__subImgBox {
    aspect-ratio: 1 / 1;
    object-fit: cover;
    overflow: hidden;
  }

  &__subImg {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
}

.p-topFlex {
  display: flex;
  margin-bottom: 100px;
}
