/* u-display-none
----------------------------------------------------------------- */
@use "../../global" as g;

.u-displayNone {
  &--PU {
    display: none;
    @include g.tabletS {
      display: block;
    }
  }

  &--PO {
    display: block;
    @include g.tabletS {
      display: none;
    }
  }

  &--flexPU {
    display: none;
    @include g.tabletS {
      display: flex;
    }
  }

  &--flexPO {
    display: flex;
    @include g.tabletS {
      display: none;
    }
  }
}
