//pxをvwに変換する関数
@function vw($size, $viewport: 1280) {
  $rate: 100 / $viewport;
  @return $rate * $size * 1vw;
}

@function vw_ds($size, $viewport: 1180) {
  $rate: 100 / $viewport;
  @return $rate * $size * 1vw;
}

@function vw_tm($size, $viewport: 1080) {
  $rate: 100 / $viewport;
  @return $rate * $size * 1vw;
}

@function vw_ts($size, $viewport: 768) {
  $rate: 100 / $viewport;
  @return $rate * $size * 1vw;
}

@function vw_sp($size, $viewport: 390) {
  $rate: 100 / $viewport;
  @return $rate * $size * 1vw;
}

//pxからvhの値を取得する関数
//PCサイズ用
@function vh($px_value) {
  @return calc($px_value) / 887 * 100vh;
}

//SPサイズ用
@function vh_sp($px_value) {
  @return calc($px_value) / 754 * 100vh;
}
