/* p-concept1
----------------------------------------------------------------- */
@use "../../global" as g;

.p-concept1 {
  background: url(../images/concept1-bg.jpg) no-repeat center top/cover;
  position: relative;
  padding: 6.4rem 0 6rem;
  @include g.tabletS {
    padding-top: 15.6rem;
  }

  &__bigText {
    position: absolute;
    top: 15.4rem;
    right: 1.6rem;
    text-orientation: mixed;
    writing-mode: vertical-rl;
    font-size: 3.6rem;
    font-weight: 500;
    font-family: var(--en);
    line-height: 150%;
    color: var(--white);
    opacity: 0.6;
  }

  &__bigNumber {
    font-size: 1.333em;
    transform: translate(3px, 26px);
    display: inline-block;
  }

  &__inner {
    padding: 0 2.5rem;
  }

  &__imgBox {
    width: 100%;
    max-width: 31rem;
  }

  &__img {
    width: 100%;
  }

  &__textBox {
    margin-top: 3.3rem;
  }

  &__title {
    font-size: 2.4rem;
    font-weight: 500;
    line-height: 150%;
    color: var(--white);
  }

  &__text {
    font-size: 1.4rem;
    font-weight: 400;
    line-height: calc(28 / 14);
    color: var(--white);

    &--bold {
      @extend .p-concept1__text;

      font-weight: bold;
    }

    &:first-of-type {
      margin-top: 1.2rem;
    }

    & + & {
      margin-top: 1.4rem;
    }
  }
}
