/* p-articleSingle
----------------------------------------------------------------- */
@use "../../global" as g;

.p-articleSingle {
  padding-top: 14.4rem;
  padding-bottom: 4.6rem;
  background: url(../images/article-contents-bg.jpg) no-repeat center top/cover;

  &__inner {
    padding: 0 4.5rem;
  }

  &__titleBox {
    text-align: center;
  }

  &__title {
    font-size: 2.4rem;
    font-weight: 500;
    line-height: 150%;
    color: var(--black);
    padding-bottom: 2rem; /* サムネイルがない場合対策 */
  }

  &__thumbnailBox {
    width: 100%;
    aspect-ratio: 3 / 2;
    overflow: hidden;
    margin-bottom: 0.6rem; /* サムネイルがなく、日付とタグとh1タグとの余白がおかしくなるので対策 */
  }

  &__thumbnail {
    width: 100%;
    object-fit: cover;
    object-position: center;
  }

  &__tagBox {
    display: flex;
    align-items: flex-end;
    gap: 1.4rem;
    padding-bottom: 1.5rem; /* コンテンツの上部がh2とは限らないため、こちらに余白を指定 */
  }

  &__tag {
    font-size: 1.4rem;
    font-weight: 500;
    font-family: var(--en);
    line-height: 1;
    color: var(--white);
    background: var(--black);
    display: flex;
    justify-content: center;
    align-items: center;
    padding: .5rem .1rem;
    min-width: 6.1rem;
  }

  &__dateBox {
    //
  }

  &__date {
    font-size: 1.2rem;
    font-weight: 400;
    line-height: 1;
    color: var(--black);
  }

  &__contents {
    h1,h2,h3,h4,h5,h6 {
      font-weight: 500;
      line-height: 150%;
      color: var(--black);
    }

    h1 {
      font-size: 2.4rem;
    }

    h2 {
      font-size: 2rem;

    }

    h3,h4,h5,h6 {
      font-size: 1.8rem;
    }

    p,li,span,div {
      font-size: 1.4rem;
      font-weight: 400;
      line-height: calc(24 / 14);
      color: var(--black);
    }

    strong {
      font-weight: bold;
    }

    em {
      font-style: italic;
    }

    ul {
      display: flex;
      flex-direction: column;
      gap: 1em;
    }
  
    img {
      display: block;
      width: 100%;
      margin: 1.6rem auto 0;
      aspect-ratio: 3 / 2;
      object-fit: cover;
      object-position: center;
    }
  }

  &__btnBox {
    margin-top: 6.2rem;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1.6rem;
  }

  &__prev,
  &__next {
    max-width: 2.8rem;
    width: 100%;
    transition: opacity 0.4s;

    &:hover {
      @include g.tabletS {
        opacity: 0.65;
      }
    }
  }

  &__prev {
    transform: rotate(180deg);
  }

  &__arrowImg {
    width: 100%;
  }

  &__btnLink {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    max-width: 21rem;
    min-height: 4.6rem;
    background: var(--black);
    border: .1rem solid var(--black);
    color: var(--white);
    transition: background-color 0.4s, color 0.4s;

    &:hover {
      @include g.tabletS {
        background-color: var(--white);
        color: var(--black);
      }
    }
  }

  &__btnText {
    font-size: 1.5rem;
    font-weight: 600;
    font-family: var(--en);
    line-height: 1;
  }
}

.c-privacy {
  h1,h2,h3,h4,h5,h6 {
    font-weight: 500;
    line-height: 150%;
    color: var(--black);
  }

  h1 {
    font-size: 2.4rem;
  }

  h2 {
    font-size: 2rem;

  }

  h3,h4,h5,h6 {
    font-size: 1.8rem;
  }

  p,li,span,div {
    font-size: 1.4rem;
    font-weight: 400;
    line-height: calc(24 / 14);
    color: var(--black);
  }

  strong {
    font-weight: bold;
  }

  em {
    font-style: italic;
  }

  ul {
    display: flex;
    flex-direction: column;
    gap: 1em;
  }

  img {
    display: block;
    width: 100%;
    margin: 1.6rem auto 0;
    aspect-ratio: 3 / 2;
    object-fit: cover;
    object-position: center;
  }
}
