/* p-contactForm
----------------------------------------------------------------- */
@use "../../global" as g;

.p-contactForm {
  &__inner {
    padding: 0 2.5rem;
  }

  &__head {
    padding: 6rem 0 2rem;
    background: url(../images/contact-form-bg.png) no-repeat center top / cover;

    @include g.tabletS {
      padding: 14rem 0 2rem;
    }
  }

  &__read {
    font-size: 1.4rem;
    font-weight: 400;
    line-height: calc(24 / 14);
    color: var(--white);
  }

  &__container {
    background: var(--white);
  }

  &__form {
    padding: 6.2rem 0;
  }

  &__list {
    display: flex;
    flex-direction: column;
    gap: 2.8rem;
  }

  &__item {
    display: flex;
    flex-direction: column;
    gap: 1.2rem;
  }

  &__dt {
    display: flex;
    align-items: center;
    gap: 0.8rem;
  }

  &__mast {
    font-size: 1rem;
    font-weight: 400;
    line-height: 1;
    color: var(--red);
    padding: 0.15rem 0.7rem 0.25rem;
    border: 1px solid var(--red);
    border-radius: 1rem;
  }

  &__name {
    font-size: 1.6rem;
    font-weight: 500;
    line-height: 1;
    color: var(--black);
  }

  &__dd {
    //
  }

  &__input {
    appearance: none;
    width: 100%;
    border: 1px solid var(--liteGray);
    background: var(--white2);
    border-radius: 0.8rem;
    min-height: 4.6rem;
    padding: 0.2em 0.5em;
    font-size: 1.4rem;
    font-weight: 400;
    line-height: calc(24 / 14);

    &::placeholder {
      color: var(--liteGray);
      opacity: 1;
    }
  }

  &__radioBox {
    margin-top: 0.8rem;
    display: flex;
    flex-direction: column;
    gap: 2.2rem;
  }

  &__radioLabel {
    font-size: 1.6rem;
    font-weight: 400;
    line-height: 1;
    color: var(--darkGray);
  }

  &__radioInput {
    appearance: none;
    -webkit-appearance: none;
    -moz-appearance: none;
    width: 2.2rem;
    height: 2.2rem;
    border: 2px solid #999;
    border-radius: 50%;
    outline: none;
    cursor: pointer;
    margin-right: 1.2rem;
    margin-top: -0.4rem;
    position: relative;

    &::before {
      content: "";
      display: block;
      width: 1.1rem;
      height: 1.1rem;
      background-color: #999;
      border-radius: 50%;
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%) scale(0);
      transition: transform 0.2s;
    }

    &:checked::before {
      transform: translate(-50%, -50%) scale(1);
    }
  }

  &__textarea {
    appearance: none;
    resize: none;
    width: 100%;
    border: 1px solid var(--liteGray);
    border-radius: 0.8rem;
    min-height: 24rem;
    padding: 0.5em;
    font-size: 1.4rem;
    font-weight: 400;
    line-height: calc(24 / 14);
    color: var(--black);

    &::placeholder {
      color: var(--liteGray);
      opacity: 1;
    }
  }
  &__submitBox {
    margin-top: 4rem;
    display: flex;
    justify-content: center;
  }

  &__submit {
    appearance: none;
    background: var(--black);
    padding: 1.6rem 6.26rem;
    font-size: 1.5rem;
    font-weight: 600;
    font-family: var(--en);
    line-height: 1;
    color: var(--white);
  }
}
