/* p-partyPlan
----------------------------------------------------------------- */
@use "../../global" as g;

.p-partyPlan {
  padding-block: 6rem 4rem;
  background: url(../images/common-contents-bg.webp) no-repeat center top / cover;
  @include g.tabletS {
    margin-top: 8.4rem;
  }

  &__inner {
    padding-inline: 3rem;
  }

  &__heading {
    font-size: 3.2rem;
    font-weight: 500;
    line-height: 150%;
    color: var(--black);
  }

  &__read {
    margin-top: 2rem;
    font-size: 1.4rem;
    font-weight: 400;
    line-height: calc(28 / 14);
    color: var(--black);
  }

  &__imgBox {
    margin-top: 0.8rem;
  }

  &__img {
    width: 100%;
  }

  &List {
    margin-top: 2rem;

    &__top {
      font-size: 2.4rem;
      font-weight: 400;
      line-height: 150%;
      color: var(--black);
    }

    &__list {
      display: flex;
      flex-direction: column;
      gap: 4rem;
      margin-top: 2rem;

      &--mtLarge {
        @extend .p-partyPlanList__list;
        margin-top: 6rem;
      }
    }

    &__item {
      //
    }

    &__title {
      padding: 0.9rem 2rem;
      background-color: #363434;
      color: var(--white);
      display: flex;
      flex-direction: column;
    }

    &__titleText {
      font-family: var(--en);
      font-size: 3.2rem;
      font-weight: 500;
      line-height: 150%;
      max-width: fit-content;
      &--fzSmall {
        @extend .p-partyPlanList__titleText;
        font-size: 2.4rem;
      }
    }

    &__subTitleText {
      font-size: 2.4rem;
      font-weight: 500;
      line-height: 150%;
    }

    &__numberText {
      font-family: var(--en);
      font-size: 2.4rem;
      font-weight: 500;
      letter-spacing: 0.04em;
      &--fzSmall {
        @extend .p-partyPlanList__numberText;
        font-family: var(--jp);
        font-size: 1.6rem;
        font-weight: 500;
        letter-spacing: 0.02em;
      }
    }

    &__text {
      margin-top: 2rem;
      font-size: 1.4rem;
      font-weight: 400;
      line-height: calc(24 / 14);
      color: var(--black);
    }

    &__imgBox {
      margin-top: 2rem;
    }

    &__img {
      width: 100%;
    }

    &__middleImgBox {
      margin-top: 4rem;
      width: 100%;
      aspect-ratio: 390 / 220;
      overflow: hidden;
    }

    &__middleImg {
      width: 100%;
    }
  }


  /* Swiper */
  &__swiperContainer {
    margin-top: 3rem;
    overflow: hidden;
    position: relative;
  }

  &__swiper {
    overflow: visible;
  }

  &__wrapper {
    //
  }

  &__slide {
    width: 100%;
  }

  &__imgBox {
    width: 100%;
  }

  &__paginationBox {
    position: relative;
    margin-top: 3rem;
  }

  &__pagination {
    position: relative;
    top: unset !important;
    bottom: unset !important;
  }

  /* その他バレット調整 */
  .swiper-pagination-bullet {
    width: 1rem;
    height: 1rem;
    border: 1px solid var(--black);
    background-color: transparent;
    opacity: 1;
    margin: 0;

    & + & {
      margin-left: 12rem !important;
    }
  }

  /* アクティブなバレットの調整 */
  .swiper-pagination-bullet-active {
    background-color: var(--black);
  }

  /* バレットの余白調整 */
  .swiper-horizontal > .swiper-pagination-bullets .swiper-pagination-bullet,
  .swiper-pagination-horizontal.swiper-pagination-bullets {
    .swiper-pagination-bullet {
      margin: 0;
    }

    .swiper-pagination-bullet:not(:first-child) {
      margin-left: 1.2rem;
    }
  }
}
