/* p-topFvContents
----------------------------------------------------------------- */
@use "../../global" as g;

.p-topFvContents {
  padding-top: 0.5rem;
  display: flex;
  flex-direction: column;
  background: url(../images/top-fv-bg.jpg) no-repeat center top/cover;
  @include g.tabletM {
    display: block;
    // min-height: max(100vh, 88.7rem);
    min-height: 88.7rem;
  }

  &__inner {
    padding: 0 3.5rem;
    order: 2;
  }

  &__textBox {
    padding-top: 10.2rem;
    @include g.tabletM {
      padding-top: max(g.vh(170), 12rem);
    }
  }

  &__mainText {
    font-size: 3.2rem;
    font-weight: 500;
    line-height: 150%;
    color: var(--white);
  }

  &__imgBox {
    margin-top: g.vh_sp(38);
    max-width: 30.2rem;
    margin-left: auto;
    order: 3;
  }

  &__img {
    width: 100%;
  }

  &__scrollBox {
    margin-top: 2rem;
    order: 1;
  }
}

@media screen and (min-width: 767px) and (max-width: 920px) {
  .p-topFvContents {
    &__textBox {
      padding-top: 11.7rem;
    }
  }
}
