/* p-topFaq
----------------------------------------------------------------- */
@use "../../global" as g;

.p-topFaq {
  background: url(../images/top-faq-bg.jpg) no-repeat center top / 100%; /* アコーディオンを開閉しても伸びないように */
  padding-top: 8.5rem;

  &__inner {
    padding: 0 2rem;
  }

  &__accordionContainer {
    margin-top: 3rem;
  }

  &__btnBox {
    margin-top: 3rem;
  }

  &__imgBox {
    margin-top: 3rem;
    width: 100%;
  }

  &__img {
    width: 100%;
  }
}
