/* p-topNews
----------------------------------------------------------------- */
@use "../../global" as g;

.p-topNews {
  padding: 6rem 0 4.7rem;
  background: url(../images/top-news-bg.jpg) no-repeat center center / cover;

  &__titleBox {
    //
  }

  &__swiperContainer {
    margin-top: 2rem;
    overflow: hidden;
    position: relative;
  }

  &__swiper {
    overflow: visible;
  }

  &__swiperWrapper {
    align-items: center;
  }

  &__swiperSlide {
    max-width: 30rem;
    width: 100%;
    margin: 0 auto;
    transform: scale(0.7) !important;
    transition: 0.7s;
  }

  &__link {
    display: block;
    transition: scale 0.4s;

    &:hover {
      @include g.hover {
        .p-topNews__img {
          transform: scale(1.1);
        }
      }
    }
  }

  &__imgBox {
    display: block;
    overflow: hidden;
    max-width: 30rem;
    width: 100%;
  }

  &__img {
    width: 100%;
    height: auto;
    object-fit: cover;
    aspect-ratio: 3 / 2; /* どのサイズが来ても対応 */
    transition: transform 0.4s;
  }

  &__textBox {
    display: flex;
    align-items: center;
    gap: 1.4rem;
    margin-top: 0.5rem;
  }

  &__tag {
    display: inline-block;
    font-size: 1.4rem;
    font-weight: 500;
    font-family: var(--en);
    line-height: calc(24 / 14);
    color: var(--white);
    background: var(--black);
    padding: 0.1rem 0.8rem 0;
    flex-shrink: 0;
  }

  &__box {
    font-size: 1.2rem;
    font-weight: 400;
    color: var(--black);
    display: flex;
    align-items: center;
  }

  &__date {
    margin-right: 1em;
    flex-shrink: 0;
  }

  &__title {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;

    &--none {
      @extend .p-topNews__title;
      margin: 0 auto;
      font-size: 1.4rem;
    }
  }

  &__swiperController {
    position: relative;
    display: flex;
    justify-content: center;
    gap: 1.4rem;
    margin-top: 2.2rem;
    height: 100%;
  }

  &__swiperPaginationBox {
    /* 数字によって左右が動いてしまうのを阻止 */
    min-width: 3.5rem;
    display: flex;
    justify-content: center;
  }

  &__swiperPagination {
    position: relative;
    color: var(--black);
    width: fit-content;
    font-size: 1.5rem;
    font-weight: 600;
    font-family: var(--en);
    line-height: 1;
    color: var(--black);
    top: unset;
    bottom: unset;
    margin-top: 0;
    transform: translateY(25%);
  }

  &__swiperPrev,
  &__swiperNext {
    width: 2.9rem;
    // height: 2.8rem;
    position: relative;
    top: 0;
    left: unset;
    right: unset;
    margin-top: -0.3rem;
    transition: opacity 0.4s;
    display: flex;
    justify-content: center;
    align-items: center;

    &:hover {
      @include g.hover {
        opacity: 0.65;
      }
    }
  }

  &__swiperPrev::after,
  &__swiperNext::after {
    background-repeat: no-repeat;
    background-size: contain;
    content: "";
    width: 100%;
    height: 100%;
    background: url(../images/common/icon-circleArrow.svg) no-repeat center
      center / contain;
  }

  &__swiperPrev {
  }

  &__swiperNext {
    transform: rotate(180deg);
  }

  &__btnBox {
    margin-top: 1.2rem;
  }

  /* swiper 独自クラスへのCSS */
  .swiper-slide-active {
    transform: scale(1) !important;
    z-index: 1;
  }

  .swiper-slide-prev,
  .swiper-slide-next,
  .swiper-slide-duplicate-prev,
  .swiper-slide-duplicate-next {
    transform: scale(0.7) !important;
  }

  .swiper-pagination-current {
    /* 現在のスライド番号 */
    //
  }

  .swiper-pagination-total {
    /* スライド総数 */
    //
  }
}
