@charset "UTF-8";
/* l-header
----------------------------------------------------------------- */
.l-header {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 100;
  width: 100%;
}
@media (min-width: 767px) {
  .l-header {
    position: fixed;
    left: unset;
    right: 2.1527777778%;
    overflow: hidden;
    height: 100%;
    pointer-events: none;
    max-width: 39rem;
    -webkit-transition: height 0.4s;
    transition: height 0.4s; /* ドロワーを閉じる際にドロワーが見切れ防止 */
  }
}
.l-header__inner {
  padding-left: 2.4rem;
  padding-right: 2.4rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  position: relative;
  z-index: 10;
}
@media (min-width: 767px) {
  .l-header__inner {
    padding-left: 2rem;
    padding-right: 2.8rem;
  }
}
.l-header__logoPc {
  display: none;
}
@media (min-width: 767px) {
  .l-header__logoPc {
    display: block;
    width: -webkit-fit-content;
    width: -moz-fit-content;
    width: fit-content;
    position: absolute;
    top: 3.6em;
    left: 4.6rem;
    -webkit-transition: opacity 0.4s;
    transition: opacity 0.4s;
  }
}
@media (min-width: 767px) {
  .l-header__logoPc:hover {
    opacity: 0.65;
  }
}
.l-header__logo {
  padding-top: 1rem;
  width: 100%;
  -webkit-transition: opacity 0.4s;
  transition: opacity 0.4s;
}
@media (min-width: 921px) {
  .l-header__logo {
    display: none;
  }
}
@media (min-width: 767px) {
  .l-header__logo:hover {
    opacity: 0.65;
  }
}
.top .l-header__logo {
  display: block;
}
.l-header__logoLink {
  display: block;
  max-width: 6.9rem;
  width: 100%;
}
@media (min-width: 767px) {
  .l-header__logoLink {
    max-width: 12.5rem;
  }
}
.top .l-header__logoLink {
  max-width: 6.9rem;
}
.l-header__logoImg {
  width: 100%;
}
.l-header__hamburgerBtn {
  margin-left: auto;
  max-width: 7rem;
  width: 100%;
  height: 7rem;
  position: relative;
  pointer-events: auto;
  /* ボタン位置 設定 */
  /* 背景の円 設定 */
  /* bar 設定 */
}
.l-header__hamburgerBtn::before {
  content: "";
  position: absolute;
  top: calc(50% - 2.3rem);
  left: calc(50% + 0.4rem);
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  width: 13.8rem;
  height: 13.8rem;
  border-radius: 50%;
  border: 1px solid var(--white);
  -webkit-transition: background-color 0.8s;
  transition: background-color 0.8s;
  background-color: rgba(33, 39, 30, 0.8);
}
.l-header__hamburgerBtn.is-open {
  margin-right: -1.5rem;
  -webkit-transition: all 0.4s;
  transition: all 0.4s;
}
@media (min-width: 767px) {
  .l-header__hamburgerBtn.is-open {
    -webkit-transform: translate(-0.8rem, 3.2rem);
            transform: translate(-0.8rem, 3.2rem);
  }
}
.l-header__hamburgerBtn.is-open::before {
  max-width: 5rem;
  max-height: 5rem;
  background-color: var(--white);
  top: 50%;
  left: 50%;
}
@media (min-width: 767px) {
  .l-header__hamburgerBtn.is-open::before {
    max-width: 7rem;
    max-height: 7rem;
  }
}
.l-header__hamburgerBtn.is-open .l-header__bar:first-of-type {
  top: 51%;
  -webkit-transform: translate(-50%, -50%) rotate(-45deg);
          transform: translate(-50%, -50%) rotate(-45deg);
  max-width: 45.64%;
  background-color: var(--black);
}
@media (min-width: 767px) {
  .l-header__hamburgerBtn.is-open .l-header__bar:first-of-type {
    max-width: 62.6%;
  }
}
.l-header__hamburgerBtn.is-open .l-header__bar:nth-of-type(2) {
  opacity: 0;
}
.l-header__hamburgerBtn.is-open .l-header__bar:last-of-type {
  top: unset;
  bottom: 46%;
  -webkit-transform: translate(-50%, -50%) rotate(45deg);
          transform: translate(-50%, -50%) rotate(45deg);
  max-width: 45.64%;
  background-color: var(--black);
}
@media (min-width: 767px) {
  .l-header__hamburgerBtn.is-open .l-header__bar:last-of-type {
    max-width: 62.6%;
  }
}
.l-header__hamburgerBtn.is-scroll::before {
  background-color: rgba(33, 39, 30, 0.8);
}
.l-header__hamburgerBox {
  width: 100%;
  height: 100%;
  position: relative;
  cursor: pointer;
}
.l-header__bar {
  display: block;
  position: absolute;
  z-index: 200;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  width: 5rem;
  height: 0.2rem;
  background: var(--white);
  -webkit-transition: 0.3s;
  transition: 0.3s;
  border-radius: 0.1rem;
}
.l-header__bar:first-of-type {
  top: calc(50% - 1.3rem);
}
.l-header__bar:nth-of-type(2) {
  max-width: 61%;
  -webkit-transform: translate(calc(-50% - 0.35rem), -50%);
          transform: translate(calc(-50% - 0.35rem), -50%);
}
.l-header__bar:last-of-type {
  top: calc(50% + 1.3rem);
}

@media screen and (min-width: 767px) and (max-width: 920px) {
  .top .l-header {
    right: 4.7826086957vw;
  }
}
@media screen and (min-width: 1920px) {
  .l-header {
    left: unset;
    right: unset;
  }
}
/* c-drawerMenu
-----------------------------------------------
------------------ */
.c-drawerMenu {
  display: block;
  position: fixed;
  z-index: 2;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  width: 100%;
  height: 100%;
  background: transparent;
  opacity: 0;
  visibility: hidden;
  -webkit-transition: opacity 0.8s ease, visibility 0.8s ease;
  transition: opacity 0.8s ease, visibility 0.8s ease;
}
@media screen and (min-width: 1920px) {
  .c-drawerMenu {
    max-width: 192rem;
    margin: 0 auto;
  }
}
.c-drawerMenu::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.42);
  z-index: -1;
  opacity: 0;
  visibility: hidden;
}
.c-drawerMenu.is-open {
  opacity: 1;
  visibility: visible;
  -webkit-transition: opacity 0.6s ease, visibility 0.6s ease;
  transition: opacity 0.6s ease, visibility 0.6s ease;
}
.c-drawerMenu.is-open::after {
  opacity: 1;
  visibility: visible;
  -webkit-transition: opacity 0.5s 0.2s ease, visibility 0.5s 0.2s ease;
  transition: opacity 0.5s 0.2s ease, visibility 0.5s 0.2s ease;
}
.c-drawerMenu__inner {
  padding-top: 8.7rem;
  padding-bottom: 6rem;
  width: 100%;
  height: min(75.4rem, 100vh);
  overflow: auto;
  z-index: 3;
  background: var(--black);
}
@media (min-width: 767px) {
  .c-drawerMenu__inner {
    padding-top: 3rem;
    padding-bottom: 4rem;
    height: 100%;
  }
}
@media screen and (max-height: 395px) and (min-width: 767px) {
  .c-drawerMenu__inner {
    height: min(39.5rem, 100vh);
  }
}
.c-drawerMenu__wrap {
  pointer-events: auto;
}
@media (min-width: 767px) {
  .c-drawerMenu__wrap {
    position: relative;
  }
}
@media (min-width: 767px) {
  .c-drawerMenu__logoLink {
    max-width: 12.6rem;
    position: absolute;
    top: 1.8rem;
    left: 4.6rem;
  }
}
.c-drawerMenu__logoImg {
  width: 100%;
}
.c-drawerMenu__headingBox {
  text-align: center;
}
.c-drawerMenu__heading {
  font-size: 3.6rem;
  font-weight: 500;
  font-family: var(--en);
  line-height: 150%;
  color: var(--white);
}
@media (min-width: 767px) {
  .c-drawerMenu__heading {
    font-size: 4.8rem;
  }
}
.c-drawerMenu__nav {
  margin-top: 1.6rem;
}
@media (min-width: 767px) {
  .c-drawerMenu__nav {
    margin-top: 4.2rem;
  }
}
.c-drawerMenu__menu {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[2];
  grid-template-columns: repeat(2, 1fr);
}
@media (min-width: 767px) {
  .c-drawerMenu__menu {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: unset;
        flex-wrap: unset;
  }
}
.c-drawerMenu__menuItem, .c-drawerMenu__menuItem--subList {
  border-top: 1px solid var(--white);
  width: 100%;
  position: relative;
  display: -ms-grid;
  display: grid;
  /* SP時の指定 Start */
  /* SP時の指定 End */
}
@media (min-width: 767px) {
  .c-drawerMenu__menuItem, .c-drawerMenu__menuItem--subList {
    border-bottom: 1px solid var(--white);
  }
}
.c-drawerMenu__menuItem--subList {
  -ms-grid-column-span: 2;
  grid-column: span 2;
  height: 0;
  visibility: hidden;
  opacity: 0;
  display: block;
  -webkit-transition: opacity 0.4s, visibility 0.4s;
  transition: opacity 0.4s, visibility 0.4s;
}
@media (min-width: 767px) {
  .c-drawerMenu__menuItem--subList {
    display: none;
  }
}
.c-drawerMenu__menuItem--subList.is-active {
  border: unset;
  height: 100%;
  visibility: visible;
  opacity: 1;
}
.c-drawerMenu__menuItem--subList.is-active .c-drawerMenu__subList {
  opacity: 1;
  visibility: visible;
}
@media (min-width: 767px) {
  .c-drawerMenu__menuItem:not(:first-child), .c-drawerMenu__menuItem--subList:not(:first-child) {
    border-left: 1px solid var(--white);
  }
}
@media screen and (max-width: 767px) {
  .c-drawerMenu__menuItem:nth-child(1), .c-drawerMenu__menuItem--subList:nth-child(1) {
    -webkit-box-ordinal-group: 2;
        -ms-flex-order: 1;
            order: 1;
    border-right: 1px solid var(--white);
  }
}
@media screen and (max-width: 767px) {
  .c-drawerMenu__menuItem:nth-child(2), .c-drawerMenu__menuItem--subList:nth-child(2) {
    -webkit-box-ordinal-group: 3;
        -ms-flex-order: 2;
            order: 2;
    border-right: unset;
  }
}
@media screen and (max-width: 767px) {
  .c-drawerMenu__menuItem:nth-child(3), .c-drawerMenu__menuItem--subList:nth-child(3) {
    -webkit-box-ordinal-group: 4;
        -ms-flex-order: 3;
            order: 3;
  }
}
@media screen and (max-width: 767px) {
  .c-drawerMenu__menuItem:nth-child(4), .c-drawerMenu__menuItem--subList:nth-child(4) {
    -webkit-box-ordinal-group: 11;
        -ms-flex-order: 10;
            order: 10;
    border-right: 1px solid var(--white);
    border-bottom: unset;
  }
}
@media screen and (max-width: 767px) {
  .c-drawerMenu__menuItem:nth-child(5), .c-drawerMenu__menuItem--subList:nth-child(5) {
    -webkit-box-ordinal-group: 13;
        -ms-flex-order: 12;
            order: 12;
    border-top: unset;
  }
}
@media screen and (max-width: 767px) {
  .c-drawerMenu__menuItem:nth-child(6), .c-drawerMenu__menuItem--subList:nth-child(6) {
    -webkit-box-ordinal-group: 21;
        -ms-flex-order: 20;
            order: 20;
    border-right: 1px solid var(--white);
    border-bottom: 1px solid var(--white);
  }
}
@media screen and (max-width: 767px) {
  .c-drawerMenu__menuItem:nth-child(7), .c-drawerMenu__menuItem--subList:nth-child(7) {
    -webkit-box-ordinal-group: 12;
        -ms-flex-order: 11;
            order: 11;
  }
}
@media screen and (max-width: 767px) {
  .c-drawerMenu__menuItem:nth-child(8), .c-drawerMenu__menuItem--subList:nth-child(8) {
    -webkit-box-ordinal-group: 22;
        -ms-flex-order: 21;
            order: 21;
    border-bottom: 1px solid var(--white);
  }
}
.c-drawerMenu__menuLink {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  gap: 0.8rem;
  width: 100%;
  height: 100%;
  min-height: 8.3rem;
  font-size: 2.4rem;
  font-weight: 600;
  font-family: var(--en);
  line-height: 1;
  color: var(--white);
}
.c-drawerMenu__menuLink:active {
  background: var(--white);
  color: var(--black);
}
@media (min-width: 767px) {
  .c-drawerMenu__menuLink:hover {
    background: var(--white);
    color: var(--black);
  }
}
.c-drawerMenu__menuTitle {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  gap: 0.8rem;
  width: 100%;
  height: 100%;
  min-height: 8.3rem;
  font-size: 2.4rem;
  font-weight: 600;
  font-family: var(--en);
  line-height: 1;
  color: var(--white);
  -webkit-transition: background-color 0.4s, color 0.4s;
  transition: background-color 0.4s, color 0.4s;
  cursor: pointer;
}
@media (min-width: 767px) {
  .c-drawerMenu__menuTitle:hover {
    background: var(--white);
    color: var(--black);
  }
}
.c-drawerMenu__menuTitle.is-active {
  background: var(--white);
  color: var(--black);
  border-top: 1px solid var(--black);
}
@media (min-width: 767px) {
  .c-drawerMenu__menuTitle.is-active {
    background: var(--white);
    color: var(--black);
  }
}
.c-drawerMenu__subList {
  visibility: hidden;
  opacity: 0;
  position: relative;
  top: unset;
  left: unset;
  z-index: unset;
  background-color: white;
  -ms-grid-column-span: 2;
  grid-column: span 2;
  border-top: 1px solid var(--black);
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 1.6rem;
  padding-block: 2.6rem;
  padding-inline: 4.8rem;
}
@media (min-width: 767px) {
  .c-drawerMenu__subList {
    position: absolute;
    left: -1px;
    top: 100%;
    z-index: 10;
    padding-block: 1.6rem;
    padding-inline: min(3rem, 2.5vw) 1rem;
    background: var(--white);
    width: calc(100% + 2px);
    border: 1px solid #211e1e;
    border-top: 2px solid #211e1e;
    -webkit-transition: all 0.4s;
    transition: all 0.4s;
    min-width: 200px;
  }
}
.c-drawerMenu__menuItem:hover .c-drawerMenu__subList, .c-drawerMenu__menuItem--subList:hover .c-drawerMenu__subList {
  opacity: 1;
  visibility: visible;
}
.c-drawerMenu__subLink {
  font-size: 1.4rem;
  font-weight: 500;
  color: #333;
  position: relative;
  margin-left: 1.6rem;
  -webkit-transition: opacity 0.4s;
  transition: opacity 0.4s;
}
.c-drawerMenu__subLink::before {
  content: "";
  position: absolute;
  top: 50%;
  left: -1.6rem;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  width: 0.8rem;
  height: 0.8rem;
  background: url(../images/common/icon-arrow-roght.svg) no-repeat center center/contain;
}
@media (min-width: 767px) {
  .c-drawerMenu__subLink:hover {
    opacity: 0.65;
  }
}
.c-drawerMenu__subText {
  font-size: 0.5833em;
  font-weight: 500;
  font-family: var(--ja);
}
.c-drawerMenu__bottomContents {
  margin-top: 3.2rem;
}
@media (min-width: 767px) {
  .c-drawerMenu__bottomContents {
    margin-top: 4rem;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    gap: 4rem 8rem;
  }
}
.c-drawerMenu__btnWrap {
  padding: 0 2.5rem;
}
@media (min-width: 767px) {
  .c-drawerMenu__btnWrap {
    padding: 0;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    width: 100%;
    max-width: 76rem;
    gap: 6rem;
  }
}
@media (min-width: 767px) {
  .c-drawerMenu__btnContact {
    width: 100%;
    max-width: 34rem;
  }
}
.c-drawerMenu__btnResevation {
  margin-top: 2rem;
}
@media (min-width: 767px) {
  .c-drawerMenu__btnResevation {
    margin-top: 0;
    width: 100%;
    max-width: 34rem;
  }
}
.c-drawerMenu__btnLink, .c-drawerMenu__btnLink--bgImage {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 100%;
  max-width: 34rem;
  padding: 2.1rem 0 1.9rem;
  font-size: 2.4rem;
  font-weight: 600;
  font-family: var(--en);
  line-height: 1;
  background: var(--white);
  color: var(--black);
  -webkit-transition: opacity 0.3s;
  transition: opacity 0.3s;
}
.c-drawerMenu__btnLink--bgImage {
  background: url(../images/common/cta-btn.jpg) no-repeat center center/cover;
  color: var(--white);
}
@media (min-width: 767px) {
  .c-drawerMenu__btnLink:hover, .c-drawerMenu__btnLink--bgImage:hover {
    opacity: 0.65;
  }
}
.c-drawerMenu__btnSubText {
  font-size: 0.583333em;
  font-weight: 500;
}
.c-drawerMenu__btnMainText {
  margin-top: 0.7rem;
  display: inline-block;
}
.c-drawerMenu__snsBox {
  margin-top: 2rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
@media (min-width: 767px) {
  .c-drawerMenu__snsBox {
    max-width: 27.8rem;
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
    width: -webkit-fit-content;
    width: -moz-fit-content;
    width: fit-content;
  }
}
.c-drawerMenu__snsBox {
  margin-top: 2rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 4rem;
}
@media (min-width: 767px) {
  .c-drawerMenu__snsBox {
    margin-top: 0;
    width: 100%;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    gap: 8rem;
  }
}
.c-drawerMenu__snsItem {
  max-width: 5.9rem;
  width: 100%;
}
@media (min-width: 767px) {
  .c-drawerMenu__snsItem {
    max-width: 7rem;
  }
}
.c-drawerMenu__snsLink {
  display: block;
  max-width: 5.9rem;
  width: 100%;
  -webkit-transform: all 0.4s;
          transform: all 0.4s;
}
@media (min-width: 767px) {
  .c-drawerMenu__snsLink {
    max-width: 7rem;
  }
}
.c-drawerMenu__snsLink:active {
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
}
@media (min-width: 767px) {
  .c-drawerMenu__snsLink:hover {
    -webkit-transform: scale(1.1);
            transform: scale(1.1);
  }
}
.c-drawerMenu__snsImg {
  width: 100%;
}

/* p-conceptFv
----------------------------------------------------------------- */
.p-conceptFv {
  margin-top: 8.7rem;
  background: url(../images/sp/concept-fv-bg.jpg) no-repeat center top/cover;
  min-height: 48.6rem;
  position: relative;
}
@media (min-width: 767px) {
  .p-conceptFv {
    display: none;
  }
}
.p-conceptFv::after {
  content: "";
  position: absolute;
  top: 0;
  left: -66.5%;
  width: 100%;
  height: 100%;
  background: var(--black);
  opacity: 0.8;
  -webkit-transform: skewX(20.7deg);
          transform: skewX(20.7deg);
}
.p-conceptFv__textContents {
  position: relative;
  z-index: 10;
}
.p-conceptFv__inner {
  padding-left: 3rem;
}
.p-conceptFv__textBox {
  padding-top: 34rem;
}
.p-conceptFv__enTitle {
  font-size: 3.2rem;
  font-weight: 500;
  font-family: var(--en);
  line-height: 150%;
  color: var(--white);
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
}

/* p-concept1
----------------------------------------------------------------- */
.p-concept1 {
  background: url(../images/concept1-bg.jpg) no-repeat center top/cover;
  position: relative;
  padding: 6.4rem 0 6rem;
}
@media (min-width: 767px) {
  .p-concept1 {
    padding-top: 15.6rem;
  }
}
.p-concept1__bigText {
  position: absolute;
  top: 15.4rem;
  right: 1.6rem;
  text-orientation: mixed;
  -webkit-writing-mode: vertical-rl;
      -ms-writing-mode: tb-rl;
          writing-mode: vertical-rl;
  font-size: 3.6rem;
  font-weight: 500;
  font-family: var(--en);
  line-height: 150%;
  color: var(--white);
  opacity: 0.6;
}
.p-concept1__bigNumber {
  font-size: 1.333em;
  -webkit-transform: translate(3px, 26px);
          transform: translate(3px, 26px);
  display: inline-block;
}
.p-concept1__inner {
  padding: 0 2.5rem;
}
.p-concept1__imgBox {
  width: 100%;
  max-width: 31rem;
}
.p-concept1__img {
  width: 100%;
}
.p-concept1__textBox {
  margin-top: 3.3rem;
}
.p-concept1__title {
  font-size: 2.4rem;
  font-weight: 500;
  line-height: 150%;
  color: var(--white);
}
.p-concept1__text, .p-concept1__text--bold {
  font-size: 1.4rem;
  font-weight: 400;
  line-height: 2;
  color: var(--white);
}
.p-concept1__text--bold {
  font-weight: bold;
}
.p-concept1__text:first-of-type, .p-concept1__text--bold:first-of-type {
  margin-top: 1.2rem;
}
.p-concept1__text + .p-concept1__text, .p-concept1__text--bold + .p-concept1__text, .p-concept1__text + .p-concept1__text--bold, .p-concept1__text--bold + .p-concept1__text--bold {
  margin-top: 1.4rem;
}

/* p-concept1
----------------------------------------------------------------- */
.p-concept2 {
  background: url(../images/concept2-bg.jpg) no-repeat center top/cover;
  position: relative;
  padding: 4.7rem 0 6.6rem;
}
.p-concept2__bigText {
  position: absolute;
  top: 8rem;
  left: 3rem;
  text-orientation: mixed;
  -webkit-writing-mode: vertical-rl;
      -ms-writing-mode: tb-rl;
          writing-mode: vertical-rl;
  font-size: 3.6rem;
  font-weight: 500;
  font-family: var(--en);
  line-height: 150%;
  color: var(--black);
  opacity: 0.6;
}
.p-concept2__bigNumber {
  font-size: 1.333em;
  -webkit-transform: translate(3px, 26px);
          transform: translate(3px, 26px);
  display: inline-block;
}
.p-concept2__inner {
  padding: 0 2.5rem;
}
.p-concept2__imgBox {
  width: 100%;
  max-width: 27.3rem;
  margin-left: auto;
}
.p-concept2__img {
  width: 100%;
}
.p-concept2__textBox {
  margin-top: 3.3rem;
}
.p-concept2__title {
  font-size: 2.4rem;
  font-weight: 500;
  line-height: 150%;
  color: var(--black);
}
.p-concept2__text, .p-concept2__text--bold {
  font-size: 1.4rem;
  font-weight: 400;
  line-height: 2;
  color: var(--black);
}
.p-concept2__text--bold {
  font-weight: bold;
}
.p-concept2__text:first-of-type, .p-concept2__text--bold:first-of-type {
  margin-top: 1.2rem;
}
.p-concept2__text + .p-concept2__text, .p-concept2__text--bold + .p-concept2__text, .p-concept2__text + .p-concept2__text--bold, .p-concept2__text--bold + .p-concept2__text--bold {
  margin-top: 1.4rem;
}

/* p-concept1
----------------------------------------------------------------- */
.p-concept3 {
  background: url(../images/concept3-bg.jpg) no-repeat center top/cover;
  position: relative;
  padding: 6rem 0 6rem;
}
.p-concept3__bigText {
  position: absolute;
  top: 15.4rem;
  right: 1.6rem;
  text-orientation: mixed;
  -webkit-writing-mode: vertical-rl;
      -ms-writing-mode: tb-rl;
          writing-mode: vertical-rl;
  font-size: 3.6rem;
  font-weight: 500;
  font-family: var(--en);
  line-height: 150%;
  color: var(--white);
  opacity: 0.6;
}
.p-concept3__bigNumber {
  font-size: 1.333em;
  -webkit-transform: translate(3px, 26px);
          transform: translate(3px, 26px);
  display: inline-block;
}
.p-concept3__inner {
  padding: 0 2.5rem;
}
.p-concept3__imgBox {
  width: 100%;
  max-width: 31rem;
}
.p-concept3__img {
  width: 100%;
}
.p-concept3__textBox {
  margin-top: 2.6rem;
}
.p-concept3__title {
  font-size: 2.4rem;
  font-weight: 500;
  line-height: 150%;
  color: var(--white);
}
.p-concept3__text, .p-concept3__text--bold {
  font-size: 1.4rem;
  font-weight: 400;
  line-height: 2;
  color: var(--white);
}
.p-concept3__text--bold {
  font-weight: bold;
}
.p-concept3__text:first-of-type, .p-concept3__text--bold:first-of-type {
  margin-top: 1.2rem;
}
.p-concept3__text + .p-concept3__text, .p-concept3__text--bold + .p-concept3__text, .p-concept3__text + .p-concept3__text--bold, .p-concept3__text--bold + .p-concept3__text--bold {
  margin-top: 1.4rem;
}

/* p-concept4
----------------------------------------------------------------- */
.p-concept4 {
  background: url(../images/concept4-bg.webp) no-repeat center top/cover;
  position: relative;
  padding: 4.7rem 0 6.6rem;
}
.p-concept4__bigText {
  position: absolute;
  top: 8rem;
  left: 3rem;
  text-orientation: mixed;
  -webkit-writing-mode: vertical-rl;
      -ms-writing-mode: tb-rl;
          writing-mode: vertical-rl;
  font-size: 3.6rem;
  font-weight: 500;
  font-family: var(--en);
  line-height: 150%;
  color: var(--black);
  opacity: 0.6;
}
.p-concept4__bigNumber {
  font-size: 1.333em;
  -webkit-transform: translate(3px, 26px);
          transform: translate(3px, 26px);
  display: inline-block;
}
.p-concept4__inner {
  padding: 0 2.5rem;
}
.p-concept4__imgBox {
  width: 100%;
  max-width: 27.3rem;
  margin-left: auto;
}
.p-concept4__img {
  width: 100%;
}
.p-concept4__textBox {
  margin-top: 3.3rem;
}
.p-concept4__title {
  font-size: 2.4rem;
  font-weight: 500;
  line-height: 150%;
  color: var(--black);
}
.p-concept4__text, .p-concept4__text--bold {
  font-size: 1.4rem;
  font-weight: 400;
  line-height: 2;
  color: var(--black);
}
.p-concept4__text--bold {
  font-weight: bold;
}
.p-concept4__text:first-of-type, .p-concept4__text--bold:first-of-type {
  margin-top: 1.2rem;
}
.p-concept4__text + .p-concept4__text, .p-concept4__text--bold + .p-concept4__text, .p-concept4__text + .p-concept4__text--bold, .p-concept4__text--bold + .p-concept4__text--bold {
  margin-top: 1.4rem;
}

/* u-display-none
----------------------------------------------------------------- */
.u-displayNone--PU {
  display: none;
}
@media (min-width: 767px) {
  .u-displayNone--PU {
    display: block;
  }
}
.u-displayNone--PO {
  display: block;
}
@media (min-width: 767px) {
  .u-displayNone--PO {
    display: none;
  }
}
.u-displayNone--flexPU {
  display: none;
}
@media (min-width: 767px) {
  .u-displayNone--flexPU {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
}
.u-displayNone--flexPO {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
@media (min-width: 767px) {
  .u-displayNone--flexPO {
    display: none;
  }
}