/* p-contactFv
----------------------------------------------------------------- */
.p-contactFv {
  margin-top: 8.7rem;
  background: url(../images/sp/contact-fv-bg.jpg) no-repeat center top/cover;
  min-height: 48.6rem;
  position: relative;
}
@media (min-width: 767px) {
  .p-contactFv {
    display: none;
  }
}
.p-contactFv::after {
  content: "";
  position: absolute;
  top: 0;
  left: -66.5%;
  width: 100%;
  height: 100%;
  background: var(--black);
  opacity: 0.8;
  -webkit-transform: skewX(20.7deg);
          transform: skewX(20.7deg);
}
.p-contactFv__textContents {
  position: relative;
  z-index: 10;
}
.p-contactFv__inner {
  padding-left: 3rem;
}
.p-contactFv__textBox {
  padding-top: 34rem;
}
.p-contactFv__enTitle {
  font-size: 3.2rem;
  font-weight: 500;
  font-family: var(--en);
  line-height: 150%;
  color: var(--white);
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
}

/* p-contactForm
----------------------------------------------------------------- */
.p-contactForm__inner {
  padding: 0 2.5rem;
}
.p-contactForm__head {
  padding: 6rem 0 2rem;
  background: url(../images/contact-form-bg.png) no-repeat center top/cover;
}
@media (min-width: 767px) {
  .p-contactForm__head {
    padding: 14rem 0 2rem;
  }
}
.p-contactForm__read {
  font-size: 1.4rem;
  font-weight: 400;
  line-height: 1.7142857143;
  color: var(--white);
}
.p-contactForm__container {
  background: var(--white);
}
.p-contactForm__form {
  padding: 6.2rem 0;
}
.p-contactForm__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 2.8rem;
}
.p-contactForm__item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 1.2rem;
}
.p-contactForm__dt {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 0.8rem;
}
.p-contactForm__mast {
  font-size: 1rem;
  font-weight: 400;
  line-height: 1;
  color: var(--red);
  padding: 0.15rem 0.7rem 0.25rem;
  border: 1px solid var(--red);
  border-radius: 1rem;
}
.p-contactForm__name {
  font-size: 1.6rem;
  font-weight: 500;
  line-height: 1;
  color: var(--black);
}
.p-contactForm__input {
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
  width: 100%;
  border: 1px solid var(--liteGray);
  background: var(--white2);
  border-radius: 0.8rem;
  min-height: 4.6rem;
  padding: 0.2em 0.5em;
  font-size: 1.4rem;
  font-weight: 400;
  line-height: 1.7142857143;
}
.p-contactForm__input::-webkit-input-placeholder {
  color: var(--liteGray);
  opacity: 1;
}
.p-contactForm__input::-moz-placeholder {
  color: var(--liteGray);
  opacity: 1;
}
.p-contactForm__input:-ms-input-placeholder {
  color: var(--liteGray);
  opacity: 1;
}
.p-contactForm__input::-ms-input-placeholder {
  color: var(--liteGray);
  opacity: 1;
}
.p-contactForm__input::placeholder {
  color: var(--liteGray);
  opacity: 1;
}
.p-contactForm__radioBox {
  margin-top: 0.8rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 2.2rem;
}
.p-contactForm__radioLabel {
  font-size: 1.6rem;
  font-weight: 400;
  line-height: 1;
  color: var(--darkGray);
}
.p-contactForm__radioInput {
  appearance: none;
  -webkit-appearance: none;
  -moz-appearance: none;
  width: 2.2rem;
  height: 2.2rem;
  border: 2px solid #999;
  border-radius: 50%;
  outline: none;
  cursor: pointer;
  margin-right: 1.2rem;
  margin-top: -0.4rem;
  position: relative;
}
.p-contactForm__radioInput::before {
  content: "";
  display: block;
  width: 1.1rem;
  height: 1.1rem;
  background-color: #999;
  border-radius: 50%;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%) scale(0);
          transform: translate(-50%, -50%) scale(0);
  -webkit-transition: -webkit-transform 0.2s;
  transition: -webkit-transform 0.2s;
  transition: transform 0.2s;
  transition: transform 0.2s, -webkit-transform 0.2s;
}
.p-contactForm__radioInput:checked::before {
  -webkit-transform: translate(-50%, -50%) scale(1);
          transform: translate(-50%, -50%) scale(1);
}
.p-contactForm__textarea {
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
  resize: none;
  width: 100%;
  border: 1px solid var(--liteGray);
  border-radius: 0.8rem;
  min-height: 24rem;
  padding: 0.5em;
  font-size: 1.4rem;
  font-weight: 400;
  line-height: 1.7142857143;
  color: var(--black);
}
.p-contactForm__textarea::-webkit-input-placeholder {
  color: var(--liteGray);
  opacity: 1;
}
.p-contactForm__textarea::-moz-placeholder {
  color: var(--liteGray);
  opacity: 1;
}
.p-contactForm__textarea:-ms-input-placeholder {
  color: var(--liteGray);
  opacity: 1;
}
.p-contactForm__textarea::-ms-input-placeholder {
  color: var(--liteGray);
  opacity: 1;
}
.p-contactForm__textarea::placeholder {
  color: var(--liteGray);
  opacity: 1;
}
.p-contactForm__submitBox {
  margin-top: 4rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
.p-contactForm__submit {
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
  background: var(--black);
  padding: 1.6rem 6.26rem;
  font-size: 1.5rem;
  font-weight: 600;
  font-family: var(--en);
  line-height: 1;
  color: var(--white);
}

/* p-reservationForm
----------------------------------------------------------------- */
.p-reservationForm {
  padding-top: 10rem;
  width: 100%;
  height: min(100%, 100vh);
}
.p-reservationForm__wrap {
  width: 100%;
  height: 100vh;
}
.p-reservationForm__form {
  width: 100%;
  height: 100vh;
}

/* u-display-none
----------------------------------------------------------------- */
.u-displayNone--PU {
  display: none;
}
@media (min-width: 767px) {
  .u-displayNone--PU {
    display: block;
  }
}
.u-displayNone--PO {
  display: block;
}
@media (min-width: 767px) {
  .u-displayNone--PO {
    display: none;
  }
}
.u-displayNone--flexPU {
  display: none;
}
@media (min-width: 767px) {
  .u-displayNone--flexPU {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
}
.u-displayNone--flexPO {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
@media (min-width: 767px) {
  .u-displayNone--flexPO {
    display: none;
  }
}