/* p-profileFv
----------------------------------------------------------------- */
.p-profileFv {
  margin-top: 8.7rem;
  background: url(../images/sp/profile-fv-bg.jpg) no-repeat center top/cover;
  min-height: 48.6rem;
  position: relative;
}
@media (min-width: 767px) {
  .p-profileFv {
    display: none;
  }
}
.p-profileFv::after {
  content: "";
  position: absolute;
  top: 0;
  left: -66.5%;
  width: 100%;
  height: 100%;
  background: var(--black);
  opacity: 0.8;
  -webkit-transform: skewX(20.7deg);
          transform: skewX(20.7deg);
}
.p-profileFv__textContents {
  position: relative;
  z-index: 10;
}
.p-profileFv__inner {
  padding-left: 3rem;
}
.p-profileFv__textBox {
  padding-top: 34rem;
}
.p-profileFv__enTitle {
  font-size: 3.2rem;
  font-weight: 500;
  font-family: var(--en);
  line-height: 150%;
  color: var(--white);
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
}

/* p-profileContents
----------------------------------------------------------------- */
.p-profileContents {
  background: url(../images/profile-contents-bg.jpg) no-repeat center top/cover;
  padding: 6.4rem 0 6rem;
}
@media (min-width: 767px) {
  .p-profileContents {
    padding-top: 15.6rem;
  }
}
.p-profileContents__inner {
  padding: 0 3rem;
}
.p-profileContents__headImgBox {
  width: 100%;
}
.p-profileContents__headImg {
  width: 100%;
}
.p-profileContents__headTextBox {
  margin-top: 2rem;
}
.p-profileContents__headTitleBox {
  font-size: 2.4rem;
  font-weight: 500;
  line-height: 150%;
  color: var(--white);
}
.p-profileContents__headName, .p-profileContents__headName--mlLarge {
  margin-top: 2rem;
}
.p-profileContents__headName--mlLarge {
  margin-left: 1.6rem;
}
.p-profileContents__headNameEn, .p-profileContents__headNameEn--mlLarge {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-top: 0.8rem;
  font-size: 1.4rem;
  font-weight: 400;
  font-family: var(--en);
  line-height: 1;
  color: var(--white);
}
.p-profileContents__headNameEn--mlLarge {
  margin-top: 0;
  margin-left: 0.8rem;
}
.p-profileContents__headText, .p-profileContents--bold {
  margin-top: 2rem;
  font-size: 1.4rem;
  font-weight: 400;
  line-height: 2;
  color: var(--white);
}
.p-profileContents--bold {
  font-weight: bold;
}
.p-profileContents__imgBox {
  width: 100%;
  margin-top: 2rem;
}
.p-profileContents__footerImg {
  width: 100%;
}
.p-profileContents__footerText, .p-profileContents__footerText--bold {
  margin-top: 2rem;
  font-size: 1.4rem;
  font-weight: 400;
  line-height: 2;
  color: var(--white);
}
.p-profileContents__footerText--bold {
  font-weight: bold;
}
.p-profileContents__footerText + .p-profileContents__footerText, .p-profileContents__footerText--bold + .p-profileContents__footerText, .p-profileContents__footerText + .p-profileContents__footerText--bold, .p-profileContents__footerText--bold + .p-profileContents__footerText--bold {
  margin-top: 1.2rem;
}

/* u-display-none
----------------------------------------------------------------- */
.u-displayNone--PU {
  display: none;
}
@media (min-width: 767px) {
  .u-displayNone--PU {
    display: block;
  }
}
.u-displayNone--PO {
  display: block;
}
@media (min-width: 767px) {
  .u-displayNone--PO {
    display: none;
  }
}
.u-displayNone--flexPU {
  display: none;
}
@media (min-width: 767px) {
  .u-displayNone--flexPU {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
}
.u-displayNone--flexPO {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
@media (min-width: 767px) {
  .u-displayNone--flexPO {
    display: none;
  }
}