@charset "UTF-8";
/* l-header
----------------------------------------------------------------- */
.l-fv, .l-fv--article, .l-fv--contact, .l-fv--faq, .l-fv--plan, .l-fv--profile-chef, .l-fv--profile, .l-fv--concept {
  /* concept FV */
  /* profile FV */
  /* profile-chef FV */
  /* plan FV */
  /* faq FV */
  /* contact FV */
  /* article FV */
}
@media (min-width: 767px) {
  .l-fv, .l-fv--article, .l-fv--contact, .l-fv--faq, .l-fv--plan, .l-fv--profile-chef, .l-fv--profile, .l-fv--concept {
    flex-direction: column;
  }
}
.l-fvBg {
  position: fixed;
  top: 0;
  left: 0;
  height: 100vh;
  width: 100%;
}
.l-fvBg__swiper {
  height: 100%;
}
.l-fvBg__wrapper {
  height: 100%;
}
.l-fvBg__slide {
  background-size: cover;
  background-position: center top;
}
.l-fvBg__img {
  height: 100%;
  object-fit: cover;
}
@media (min-width: 767px) {
  .l-fv--concept {
    background: url(../images/concept-fv-bg.jpg) no-repeat center top/cover;
    position: fixed;
    top: 0;
    left: 0;
    height: 100vh;
    width: 100%;
  }
}
@media (min-width: 767px) {
  .l-fv--profile {
    background: url(../images/profile-fv-bg.jpg) no-repeat center top/cover;
    position: fixed;
    top: 0;
    left: 0;
    height: 100vh;
    width: 100%;
  }
}
@media (min-width: 767px) {
  .l-fv--profile-chef {
    background: url(../images/profile-chef-fv-bg.webp) no-repeat center top/cover;
    position: fixed;
    top: 0;
    left: 0;
    height: 100vh;
    width: 100%;
  }
}
@media (min-width: 767px) {
  .l-fv--plan {
    background: url(../images/plan-fv-bg.jpg) no-repeat center top/cover;
    position: fixed;
    top: 0;
    left: 0;
    height: 100vh;
    width: 100%;
  }
}
@media (min-width: 767px) {
  .l-fv--faq {
    background: url(../images/faq-fv-bg.jpg) no-repeat center top/cover;
    position: fixed;
    top: 0;
    left: 0;
    height: 100vh;
    width: 100%;
  }
}
@media (min-width: 767px) {
  .l-fv--contact {
    background: url(../images/contact-fv-bg.jpg) no-repeat center top/cover;
    position: fixed;
    top: 0;
    left: 0;
    height: 100vh;
    width: 100%;
  }
}
@media (min-width: 767px) {
  .l-fv--article {
    background: url(../images/article-fv-bg.jpg) no-repeat center top/cover;
    position: fixed;
    top: 0;
    left: 0;
    height: 100vh;
    width: 100%;
  }
}
@media (min-width: 767px) {
  .l-fv::after, .l-fv--concept::after, .l-fv--profile::after, .l-fv--profile-chef::after, .l-fv--plan::after, .l-fv--faq::after, .l-fv--contact::after, .l-fv--article::after {
    content: "";
    position: absolute;
    top: 0;
    left: -76%;
    width: 100%;
    height: 100%;
    background: var(--black);
    opacity: 0.8;
    transform: skewX(14.5deg);
    z-index: -1;
  }
}
@media (min-width: 767px) {
  .l-fv__loopTextContainer {
    margin-top: 7.5535512965vh;
  }
}
.top .l-fv__textBox {
  /* TOPページのみ */
}
@media (min-width: 767px) {
  .top .l-fv__textBox {
    margin-top: auto;
    margin-left: 8.1944444444vw;
  }
}
.l-fv__textBox {
  /* 下層ページ共通 */
}
@media (min-width: 767px) {
  .l-fv__textBox {
    margin-top: 45.0958286359vh;
    margin-left: 8.1944444444vw;
  }
}
@media (min-width: 767px) {
  .l-fv__mainText, .l-fv__mainText--bigFz, .l-fv__mainText--littleSmallFz, .l-fv__mainText--smallFz, .l-fv__mainText--mlSmallLittleFz {
    font-size: 4.8rem;
    font-weight: bold;
    line-height: 150%;
    color: var(--white);
  }
}
.l-fv__mainText--mlSmallLittleFz {
  font-size: 0.8333em;
  margin-left: -0.9rem;
}
.l-fv__mainText--smallFz {
  font-size: 0.916em;
}
.l-fv__mainText--littleSmallFz {
  font-size: 0.8333em;
  margin-left: 0.4rem;
}
.l-fv__mainText--bigFz {
  font-size: 1.1667em;
}
.l-fv__enTitle, .l-fv__enTitle--fzSmall {
  /* TOPページ以外の見出し 設定共通 */
  font-size: 5.6rem;
  font-weight: 500;
  font-family: var(--en);
  line-height: 150%;
  color: var(--white);
}
.l-fv__enTitle--fzSmall {
  font-size: clamp(3.8rem, 5vw, 5.6rem);
}
.l-fv__jpTitle {
  margin-top: 0.8rem;
  font-family: var(--jp);
  font-size: 2.4rem;
  font-weight: 600;
  color: var(--white);
  padding-left: 2.8rem;
  position: relative;
}
.l-fv__jpTitle::after {
  content: "";
  position: absolute;
  top: 50%;
  left: 0;
  width: 2rem;
  height: 1px;
  background-color: var(--white);
  transform: translateY(-50%);
}
@media (min-width: 767px) {
  .l-fv__loopImagesContainer {
    margin-top: 14.2051860203vh;
  }
}

@media (min-width: 767px) and (max-width: 920px) {
  .top .l-fv, .top .l-fv--concept, .top .l-fv--profile, .top .l-fv--profile-chef, .top .l-fv--plan, .top .l-fv--faq, .top .l-fv--contact, .top .l-fv--article {
    position: fixed;
    top: 0;
    left: 0;
    background: url(../images/fv-tablet-bg.jpg) no-repeat center top/cover;
    height: 100vh;
    width: 100%;
  }
  .top .l-fv__loopTextContainer {
    margin-top: 8.7rem;
  }
  .top .l-fv__textBox {
    margin-left: 8.0434782609vw;
  }
  .top .l-fv__mainText, .top .l-fv__mainText--mlSmallLittleFz, .top .l-fv__mainText--smallFz, .top .l-fv__mainText--littleSmallFz, .top .l-fv__mainText--bigFz {
    font-size: min(4.082rem, 4.4369565217vw);
  }
  .top .l-fv__mainText--mlSmallLittleFz {
    font-size: 0.8333em;
    margin-left: -0.9rem;
  }
  .top .l-fv__mainText--smallFz {
    font-size: 0.916em;
  }
  .top .l-fv__mainText--littleSmallFz {
    font-size: 0.8333em;
    margin-left: 0.4rem;
  }
  .top .l-fv__mainText--bigFz {
    font-size: 1.1667em;
  }
  .top .l-fv__loopImagesContainer {
    margin-top: 19.1657271702vh;
    margin-bottom: 7.4408117249vh;
  }
  .top .l-fv::after, .top .l-fv--concept::after, .top .l-fv--profile::after, .top .l-fv--profile-chef::after, .top .l-fv--plan::after, .top .l-fv--faq::after, .top .l-fv--contact::after, .top .l-fv--article::after {
    display: none;
  }
}
@media (min-width: 767px) and (max-width: 850px) {
  .top .l-fv__textBox {
    margin-left: 4%;
  }
}
@media (min-width: 920px) and (max-height: 700px) {
  .l-fv__loopImagesContainer {
    margin-top: 3.9458850056vh;
  }
}
@media screen and (min-width: 1920px) {
  .l-fv, .l-fv--concept, .l-fv--profile, .l-fv--profile-chef, .l-fv--plan, .l-fv--faq, .l-fv--contact, .l-fv--article {
    max-width: 192rem;
    left: 50%;
    transform: translateX(-50%);
  }
}
/* l-header
----------------------------------------------------------------- */
.l-bigWrapper {
  position: relative;
}
@media (min-width: 767px) {
  .l-bigWrapper {
    max-width: 39rem;
    margin-left: auto;
    z-index: 10;
    background-color: var(--black);
    margin-right: 2.1527777778%;
  }
}

@media screen and (min-width: 768px) and (max-width: 920px) {
  .top .l-bigWrapper {
    margin-right: 4.7826086957vw;
  }
}
@media screen and (min-width: 921px) {
  .top .l-bigWrapper {
    margin-right: 2.1527777778%;
  }
}
/* l-header
----------------------------------------------------------------- */
.l-header {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 100;
  width: 100%;
}
@media (min-width: 767px) {
  .l-header {
    position: fixed;
    left: unset;
    right: 2.1527777778%;
    overflow: hidden;
    height: 100%;
    pointer-events: none;
    max-width: 39rem;
    transition: height 0.4s; /* ドロワーを閉じる際にドロワーが見切れ防止 */
  }
}
.l-header__inner {
  padding-left: 2.4rem;
  padding-right: 2.4rem;
  display: flex;
  width: 100%;
  position: relative;
  z-index: 10;
}
@media (min-width: 767px) {
  .l-header__inner {
    padding-left: 2rem;
    padding-right: 2.8rem;
  }
}
.l-header__logoPc {
  display: none;
}
@media (min-width: 767px) {
  .l-header__logoPc {
    display: block;
    width: fit-content;
    position: absolute;
    top: 3.6em;
    left: 4.6rem;
    transition: opacity 0.4s;
  }
}
@media (min-width: 767px) {
  .l-header__logoPc:hover {
    opacity: 0.65;
  }
}
.l-header__logo {
  padding-top: 1rem;
  width: 100%;
  transition: opacity 0.4s;
}
@media (min-width: 921px) {
  .l-header__logo {
    display: none;
  }
}
@media (min-width: 767px) {
  .l-header__logo:hover {
    opacity: 0.65;
  }
}
.top .l-header__logo {
  display: block;
}
.l-header__logoLink {
  display: block;
  max-width: 6.9rem;
  width: 100%;
}
@media (min-width: 767px) {
  .l-header__logoLink {
    max-width: 12.5rem;
  }
}
.top .l-header__logoLink {
  max-width: 6.9rem;
}
.l-header__logoImg {
  width: 100%;
}
.l-header__hamburgerBtn {
  margin-left: auto;
  max-width: 7rem;
  width: 100%;
  height: 7rem;
  position: relative;
  pointer-events: auto;
  /* ボタン位置 設定 */
  /* 背景の円 設定 */
  /* bar 設定 */
}
.l-header__hamburgerBtn::before {
  content: "";
  position: absolute;
  top: calc(50% - 2.3rem);
  left: calc(50% + 0.4rem);
  transform: translate(-50%, -50%);
  width: 13.8rem;
  height: 13.8rem;
  border-radius: 50%;
  border: 1px solid var(--white);
  transition: background-color 0.8s;
  background-color: rgba(33, 39, 30, 0.8);
}
.l-header__hamburgerBtn.is-open {
  margin-right: -1.5rem;
  transition: all 0.4s;
}
@media (min-width: 767px) {
  .l-header__hamburgerBtn.is-open {
    transform: translate(-0.8rem, 3.2rem);
  }
}
.l-header__hamburgerBtn.is-open::before {
  max-width: 5rem;
  max-height: 5rem;
  background-color: var(--white);
  top: 50%;
  left: 50%;
}
@media (min-width: 767px) {
  .l-header__hamburgerBtn.is-open::before {
    max-width: 7rem;
    max-height: 7rem;
  }
}
.l-header__hamburgerBtn.is-open .l-header__bar:first-of-type {
  top: 51%;
  transform: translate(-50%, -50%) rotate(-45deg);
  max-width: 45.64%;
  background-color: var(--black);
}
@media (min-width: 767px) {
  .l-header__hamburgerBtn.is-open .l-header__bar:first-of-type {
    max-width: 62.6%;
  }
}
.l-header__hamburgerBtn.is-open .l-header__bar:nth-of-type(2) {
  opacity: 0;
}
.l-header__hamburgerBtn.is-open .l-header__bar:last-of-type {
  top: unset;
  bottom: 46%;
  transform: translate(-50%, -50%) rotate(45deg);
  max-width: 45.64%;
  background-color: var(--black);
}
@media (min-width: 767px) {
  .l-header__hamburgerBtn.is-open .l-header__bar:last-of-type {
    max-width: 62.6%;
  }
}
.l-header__hamburgerBtn.is-scroll::before {
  background-color: rgba(33, 39, 30, 0.8);
}
.l-header__hamburgerBox {
  width: 100%;
  height: 100%;
  position: relative;
  cursor: pointer;
}
.l-header__bar {
  display: block;
  position: absolute;
  z-index: 200;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 5rem;
  height: 0.2rem;
  background: var(--white);
  transition: 0.3s;
  border-radius: 0.1rem;
}
.l-header__bar:first-of-type {
  top: calc(50% - 1.3rem);
}
.l-header__bar:nth-of-type(2) {
  max-width: 61%;
  transform: translate(calc(-50% - 0.35rem), -50%);
}
.l-header__bar:last-of-type {
  top: calc(50% + 1.3rem);
}

@media screen and (min-width: 767px) and (max-width: 920px) {
  .top .l-header {
    right: 4.7826086957vw;
  }
}
@media screen and (min-width: 1920px) {
  .l-header {
    left: unset;
    right: unset;
  }
}
/* c-loopText
----------------------------------------------------------------- */
.c-loopText {
  /* Start swiperText */
  /* End swiperText */
}
.c-loopText__textSwiperContainer {
  overflow: hidden;
}
.c-loopText__textSwiper {
  overflow: visible;
  padding-top: 1.2rem;
  padding-bottom: 1.2rem;
  border-top: 1px solid var(--white);
  border-bottom: 1px solid var(--white);
}
.c-loopText__textWrapper {
  transition-timing-function: linear;
  align-items: center;
}
.c-loopText__textSlide, .c-loopText__textSlide--en {
  width: fit-content;
  font-size: 1.6rem;
  font-weight: 500;
  line-height: 1;
  color: var(--white);
  display: flex;
  justify-content: center;
  margin-right: 3rem;
}
.c-loopText__textSlide--en {
  font-family: var(--en);
  font-size: 2.2rem;
  font-weight: 500;
  margin-bottom: -0.3rem;
}

/* c-loopImages
----------------------------------------------------------------- */
.c-loopImages {
  /* Start swiperImages */
  /* End swiperImages */
}
.c-loopImages__imagesSwiperContainer {
  overflow: hidden;
}
.c-loopImages__imagesSwiper {
  overflow: visible;
}
.c-loopImages__imagesWrapper {
  transition-timing-function: linear;
  align-items: center;
}
.c-loopImages__imagesSlide {
  width: auto !important;
  max-width: 16rem;
}
@media (min-width: 921px) {
  .c-loopImages__imagesSlide {
    max-width: 20.2rem;
  }
}
.c-loopImages__imagesSlideImg {
  width: 100%;
}

/* c-scrollDown
----------------------------------------------------------------- */
.c-scrollDown__box {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.c-scrollDown__text {
  font-size: 1.2rem;
  font-family: var(--en2);
  line-height: 1;
  letter-spacing: 0.2em;
}
.c-scrollDown__bar {
  margin-top: 1.03rem;
  width: 1px;
  height: 5.6rem;
  background-color: var(--white);
  position: relative;
}
.c-scrollDown__bar::after {
  content: "";
  width: 0.7rem;
  height: 0.7rem;
  border-radius: 50%;
  background-color: var(--white);
  position: absolute;
  top: 0;
  left: 50%;
  transform: translate(calc(-50% + 0.05rem));
  animation: scrollDown 3s infinite forwards cubic-bezier(0.25, 0.7, 0.5, 1);
}

/* c-accordion
-----------------------------------------------
------------------ */
.c-accordion__item {
  border-bottom: 1px solid var(--white);
}
.c-accordion__item:first-child {
  border-top: 1px solid var(--white);
}
.c-accordion__titleBox {
  cursor: pointer;
  position: relative;
}
.c-accordion__title, .c-accordion__content {
  position: relative;
}
.c-accordion__title::before, .c-accordion__content::before {
  content: "";
  position: absolute;
  left: 0;
  width: 3.3rem;
  height: 3.3rem;
  transition: all 0.4s;
}
.c-accordion__title {
  padding: 2.6rem 0 2rem 5.2rem;
  max-width: 30rem;
  font-size: 1.4rem;
  font-weight: bold;
  line-height: 1.7142857143;
  color: var(--white);
}
.c-accordion__title::before {
  max-width: 2.7rem;
  top: 1.4em;
  left: 1rem;
  background: url(../images/common/icon-question.svg) no-repeat center/contain;
}
.c-accordion__icon {
  position: absolute;
  top: 50%;
  right: 1.5rem;
  transform: translateY(calc(-50% + 0.17em));
  display: block;
  width: 1.4rem;
  height: 0.8rem;
  background: url(../images/common/icon-arrow.svg) no-repeat center/contain;
  transition: transform 0.2s;
}
.c-accordion__icon.is-open {
  transform: translateY(-50%) rotate(180deg);
}
.c-accordion__content {
  display: grid;
  grid-template-rows: 0fr;
  transition: grid-template-rows 0.4s, visibility 0.4s, padding 0.4s, border-top 0.1s ease-in-out;
  width: 100%;
  padding-left: 4.9rem;
}
.c-accordion__content::before {
  max-height: calc(100% - 4rem);
  margin-top: 2rem;
  top: -0.3rem;
  left: 0.8rem;
}
.c-accordion__content.is-open {
  grid-template-rows: 1fr;
  visibility: visible;
  padding: 2rem 0 2rem 4.9rem;
  border-top: 1px solid var(--white);
}
.c-accordion__content.is-open::before {
  background: url(../images/common/icon-answer.svg) no-repeat center/contain;
}
.c-accordion__body {
  overflow: hidden;
}
.c-accordion__bodyText {
  font-size: 1.4rem;
  font-weight: 400;
  line-height: 1.7142857143;
  color: var(--white);
}

/* c-drawerMenu
-----------------------------------------------
------------------ */
.c-drawerMenu {
  display: block;
  position: fixed;
  z-index: 2;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  width: 100%;
  height: 100%;
  background: transparent;
  opacity: 0;
  visibility: hidden;
  transition: opacity 0.8s ease, visibility 0.8s ease;
}
@media screen and (min-width: 1920px) {
  .c-drawerMenu {
    max-width: 192rem;
    margin: 0 auto;
  }
}
.c-drawerMenu::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.42);
  z-index: -1;
  opacity: 0;
  visibility: hidden;
}
.c-drawerMenu.is-open {
  opacity: 1;
  visibility: visible;
  transition: opacity 0.6s ease, visibility 0.6s ease;
}
.c-drawerMenu.is-open::after {
  opacity: 1;
  visibility: visible;
  transition: opacity 0.5s 0.2s ease, visibility 0.5s 0.2s ease;
}
.c-drawerMenu__inner {
  padding-top: 8.7rem;
  padding-bottom: 6rem;
  width: 100%;
  height: min(75.4rem, 100vh);
  overflow: auto;
  z-index: 3;
  background: var(--black);
}
@media (min-width: 767px) {
  .c-drawerMenu__inner {
    padding-top: 3rem;
    padding-bottom: 4rem;
    height: 100%;
  }
}
@media screen and (max-height: 395px) and (min-width: 767px) {
  .c-drawerMenu__inner {
    height: min(39.5rem, 100vh);
  }
}
.c-drawerMenu__wrap {
  pointer-events: auto;
}
@media (min-width: 767px) {
  .c-drawerMenu__wrap {
    position: relative;
  }
}
@media (min-width: 767px) {
  .c-drawerMenu__logoLink {
    max-width: 12.6rem;
    position: absolute;
    top: 1.8rem;
    left: 4.6rem;
  }
}
.c-drawerMenu__logoImg {
  width: 100%;
}
.c-drawerMenu__headingBox {
  text-align: center;
}
.c-drawerMenu__heading {
  font-size: 3.6rem;
  font-weight: 500;
  font-family: var(--en);
  line-height: 150%;
  color: var(--white);
}
@media (min-width: 767px) {
  .c-drawerMenu__heading {
    font-size: 4.8rem;
  }
}
.c-drawerMenu__nav {
  margin-top: 1.6rem;
}
@media (min-width: 767px) {
  .c-drawerMenu__nav {
    margin-top: 4.2rem;
  }
}
.c-drawerMenu__menu {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
}
@media (min-width: 767px) {
  .c-drawerMenu__menu {
    display: flex;
  }
}
.c-drawerMenu__menuItem {
  border-top: 1px solid var(--white);
  width: 100%;
  /* SP時の指定 Start */
  /* SP時の指定 End */
}
@media (min-width: 767px) {
  .c-drawerMenu__menuItem {
    border-bottom: 1px solid var(--white);
  }
}
@media (min-width: 767px) {
  .c-drawerMenu__menuItem:not(:first-child) {
    border-left: 1px solid var(--white);
  }
}
@media screen and (max-width: 767px) {
  .c-drawerMenu__menuItem:first-child {
    order: 1;
    border-right: 1px solid var(--white);
  }
}
@media screen and (max-width: 767px) {
  .c-drawerMenu__menuItem:nth-child(2) {
    order: 3;
    border-right: 1px solid var(--white);
  }
}
@media screen and (max-width: 767px) {
  .c-drawerMenu__menuItem:nth-child(3) {
    order: 2;
  }
}
@media screen and (max-width: 767px) {
  .c-drawerMenu__menuItem:nth-child(4) {
    order: 5;
    border-right: 1px solid var(--white);
    border-bottom: 1px solid var(--white);
  }
}
@media screen and (max-width: 767px) {
  .c-drawerMenu__menuItem:nth-child(5) {
    order: 4;
  }
}
@media screen and (max-width: 767px) {
  .c-drawerMenu__menuItem:last-child {
    order: 6;
  }
}
.c-drawerMenu__menuLink {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 0.8rem;
  width: 100%;
  height: 100%;
  min-height: 8.3rem;
  font-size: 2.4rem;
  font-weight: 600;
  font-family: var(--en);
  line-height: 1;
  color: var(--white);
}
.c-drawerMenu__menuLink:active {
  background: var(--white);
  color: var(--black);
}
@media (min-width: 767px) {
  .c-drawerMenu__menuLink:hover {
    background: var(--white);
    color: var(--black);
  }
}
.c-drawerMenu__subText {
  font-size: 0.5833em;
  font-weight: 500;
  font-family: var(--ja);
}
.c-drawerMenu__bottomContents {
  margin-top: 1.6rem;
}
@media (min-width: 767px) {
  .c-drawerMenu__bottomContents {
    margin-top: 4rem;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 4rem 8rem;
  }
}
.c-drawerMenu__btnWrap {
  padding: 0 2.5rem;
}
@media (min-width: 767px) {
  .c-drawerMenu__btnWrap {
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    max-width: 76rem;
    gap: 6rem;
  }
}
@media (min-width: 767px) {
  .c-drawerMenu__btnContact {
    width: 100%;
    max-width: 34rem;
  }
}
.c-drawerMenu__btnResevation {
  margin-top: 2rem;
}
@media (min-width: 767px) {
  .c-drawerMenu__btnResevation {
    margin-top: 0;
    width: 100%;
    max-width: 34rem;
  }
}
.c-drawerMenu__btnLink, .c-drawerMenu__btnLink--bgImage {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  max-width: 34rem;
  padding: 2.1rem 0 1.9rem;
  font-size: 2.4rem;
  font-weight: 600;
  font-family: var(--en);
  line-height: 1;
  background: var(--white);
  color: var(--black);
  transition: opacity 0.3s;
}
.c-drawerMenu__btnLink--bgImage {
  background: url(../images/common/cta-btn.jpg) no-repeat center center/cover;
  color: var(--white);
}
@media (min-width: 767px) {
  .c-drawerMenu__btnLink:hover, .c-drawerMenu__btnLink--bgImage:hover {
    opacity: 0.65;
  }
}
.c-drawerMenu__btnSubText {
  font-size: 0.583333em;
  font-weight: 500;
}
.c-drawerMenu__btnMainText {
  margin-top: 0.7rem;
  display: inline-block;
}
.c-drawerMenu__snsBox {
  margin-top: 2rem;
  display: flex;
  justify-content: center;
  align-items: center;
}
@media (min-width: 767px) {
  .c-drawerMenu__snsBox {
    max-width: 27.8rem;
    justify-content: flex-start;
    width: fit-content;
  }
}
.c-drawerMenu__snsBox {
  margin-top: 2rem;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 4rem;
}
@media (min-width: 767px) {
  .c-drawerMenu__snsBox {
    margin-top: 0;
    width: 100%;
    justify-content: center;
    gap: 8rem;
  }
}
.c-drawerMenu__snsItem {
  max-width: 5.9rem;
  width: 100%;
}
@media (min-width: 767px) {
  .c-drawerMenu__snsItem {
    max-width: 7rem;
  }
}
.c-drawerMenu__snsLink {
  display: block;
  max-width: 5.9rem;
  width: 100%;
  transform: all 0.4s;
}
@media (min-width: 767px) {
  .c-drawerMenu__snsLink {
    max-width: 7rem;
  }
}
.c-drawerMenu__snsLink:active {
  transform: scale(1.1);
}
@media (min-width: 767px) {
  .c-drawerMenu__snsLink:hover {
    transform: scale(1.1);
  }
}
.c-drawerMenu__snsImg {
  width: 100%;
}

/* p-topFv
----------------------------------------------------------------- */
.p-topFv {
  margin-top: 8.7rem;
  position: relative;
}
@media (min-width: 921px) {
  .p-topFv {
    display: none;
  }
}
.p-topFv::after {
  content: "";
  position: absolute;
  top: 0;
  left: -68.7%;
  width: 100%;
  height: 100%;
  background: var(--black);
  opacity: 0.8;
  transform: skewX(12.5deg);
}
.p-topFv__textContents {
  position: relative;
  z-index: 10;
}
.p-topFv__inner {
  padding-left: 1.9rem;
}
.p-topFv__textBox {
  margin-top: 38.9920424403vh;
}
.p-topFv__mainText, .p-topFv__mainText--bigFz {
  font-size: 3.2rem;
  font-weight: 500;
  line-height: 150%;
  color: var(--white);
}
.p-topFv__mainText--littleSmallFz {
  font-size: 0.75em;
}
.p-topFv__mainText--mlSmallLittleFz {
  font-size: 0.75em;
  margin-left: -0.5rem;
}
.p-topFv__mainText--smallFz {
  font-size: 0.875em;
}
.p-topFv__mainText--bigFz {
  font-size: 1.25em;
  font-weight: bold;
}
.p-topFv__imagesSwiperContainer {
  margin-top: 2.5rem;
}

@media screen and (min-width: 767px) and (max-width: 920px) {
  .p-topFv {
    position: relative;
    background: url(../images/fv-tablet.jpg) no-repeat center top/cover;
    height: 65rem;
  }
  .p-topFv::before {
    content: "";
    display: block;
    background-color: var(--black);
    transform: translateY(-8.7rem);
    width: 100%;
    height: 8.7rem;
  }
  .p-topFv::after {
    content: "";
    display: none;
  }
  .p-topFv__textSwiperBox, .p-topFv__textContents, .p-topFv__imagesSwiperContainer {
    display: none;
  }
}
/* p-topFvContents
----------------------------------------------------------------- */
.p-topFvContents {
  padding-top: 0.5rem;
  display: flex;
  flex-direction: column;
  background: url(../images/top-fv-bg.jpg) no-repeat center top/cover;
}
@media (min-width: 921px) {
  .p-topFvContents {
    display: block;
    min-height: 88.7rem;
  }
}
.p-topFvContents__inner {
  padding: 0 3.5rem;
  order: 2;
}
.p-topFvContents__textBox {
  padding-top: 10.2rem;
}
@media (min-width: 921px) {
  .p-topFvContents__textBox {
    padding-top: max(19.1657271702vh, 12rem);
  }
}
.p-topFvContents__mainText {
  font-size: 3.2rem;
  font-weight: 500;
  line-height: 150%;
  color: var(--white);
}
.p-topFvContents__imgBox {
  margin-top: 5.0397877984vh;
  max-width: 30.2rem;
  margin-left: auto;
  order: 3;
}
.p-topFvContents__img {
  width: 100%;
}
.p-topFvContents__scrollBox {
  margin-top: 2rem;
  order: 1;
}

@media screen and (min-width: 767px) and (max-width: 920px) {
  .p-topFvContents__textBox {
    padding-top: 11.7rem;
  }
}
/* p-topConcept
----------------------------------------------------------------- */
.p-topConcept {
  padding-top: 6rem;
  padding-bottom: 6rem;
}
.p-topConcept__inner {
  padding: 0 3rem;
}
.p-topConcept__head {
  position: relative;
}
.p-topConcept__titleBox {
  position: absolute;
  top: 10.7rem;
  left: 50%;
  transform: translateX(-49%);
  width: 100%;
  display: flex;
  justify-content: center;
  text-align: center;
}
.p-topConcept__title {
  font-size: 2.4rem;
  font-weight: 500;
  line-height: 150%;
  color: var(--white);
}
.p-topConcept__imgBox {
  width: 100%;
  box-shadow: 0px 8px 12px 0 rgba(0, 0, 0, 0.25);
}
.p-topConcept__img {
  width: 100%;
}
.p-topConcept__text {
  margin-top: 2rem;
  font-size: 1.4rem;
  font-weight: 400;
  line-height: 2;
  color: var(--white);
}
.p-topConcept__btnBox {
  margin-top: 2rem;
  display: flex;
  justify-content: center;
}

@media screen and (min-width: 920px) {
  .p-topConcept {
    margin-top: 0;
  }
}
/* p-topProfile
----------------------------------------------------------------- */
.p-topProfile {
  background: url(../images/top-profile-bg.jpg) no-repeat center center/cover;
  padding: 6rem 0;
}
.p-topProfile__inner {
  padding: 0 3rem;
}
.p-topProfile__imgBox {
  margin-top: 2rem;
  width: 100%;
}
.p-topProfile__img {
  width: 100%;
}
.p-topProfile__textBox {
  margin-top: 2rem;
}
.p-topProfile__title {
  font-size: 2.4rem;
  font-weight: 500;
  line-height: 150%;
  color: var(--black);
}
.p-topProfile__text {
  margin-top: 2rem;
  font-size: 1.4rem;
  font-weight: 400;
  line-height: 2;
  color: var(--black);
}
.p-topProfile__btnBox {
  margin-top: 2rem;
  display: flex;
  justify-content: center;
}

/* p-topPlan
----------------------------------------------------------------- */
.p-topPlan {
  background: url(../images/top-plan-bg.jpg) no-repeat center top/cover;
  padding-top: 6rem;
}
.p-topPlan__titleBox {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.p-topPlan__read {
  margin-top: 2rem;
  font-size: 2rem;
  font-weight: 500;
  line-height: 150%;
  color: var(--white);
}
.p-topPlan__list {
  margin-top: 2rem;
}
.p-topPlan__item:first-child .p-topPlan__link {
  background: url(../images/top-plan-item1.jpg) no-repeat center center/cover;
}
.p-topPlan__item:nth-child(2) .p-topPlan__link {
  background: url(../images/top-plan-item2.jpg) no-repeat center center/cover;
}
.p-topPlan__item:nth-child(3) .p-topPlan__link {
  background: url(../images/top-plan-item3.jpg) no-repeat center center/cover;
}
.p-topPlan__link {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 2rem 2rem 2.5rem;
  position: relative;
  min-height: 20rem;
}
.p-topPlan__link::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  pointer-events: none;
  background-color: var(--white);
  opacity: 0;
  transition: opacity 0.3s;
}
@media (min-width: 767px) {
  .p-topPlan__link:hover::before {
    opacity: 0.42;
  }
}
.p-topPlan__title {
  font-size: 2.4rem;
  font-weight: 500;
  line-height: 150%;
  color: var(--white);
}
.p-topPlan__headCount {
  display: block;
  margin-top: 0.8rem;
  font-size: 1.6rem;
  font-weight: 500;
  line-height: 1;
  color: var(--white);
}
.p-topPlan__text {
  margin-top: 0.8rem;
  font-size: 1.4rem;
  font-weight: 400;
  line-height: 1.7142857143;
  color: var(--white);
}
.p-topPlan__moreBox {
  margin-left: auto;
  position: relative;
}
.p-topPlan__more {
  margin-right: 4rem;
  font-size: 1.5rem;
  font-weight: 600;
  font-family: var(--en);
  line-height: 1;
  color: var(--white);
}
.p-topPlan__moreImg {
  position: absolute;
  bottom: -0.42rem;
  left: 0;
}

/* p-topInsta
----------------------------------------------------------------- */
.p-topInsta {
  padding: 6rem 0;
  background: url(../images/top-insta-bg.jpg) no-repeat center top/cover;
}
.p-topInsta__inner {
  padding: 0 2rem;
}
.p-topInsta__list {
  margin-top: 2.8rem;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 0.4rem;
}
.p-topInsta__link {
  display: block;
  max-width: 17.3rem;
  width: 100%;
}
.p-topInsta__img {
  width: 100%;
}
.p-topInsta__btnBox {
  margin-top: 3rem;
}

/* p-topFaq
----------------------------------------------------------------- */
.p-topFaq {
  background: url(../images/top-faq-bg.jpg) no-repeat center top/100%; /* アコーディオンを開閉しても伸びないように */
  padding-top: 8.5rem;
}
.p-topFaq__inner {
  padding: 0 2rem;
}
.p-topFaq__accordionContainer {
  margin-top: 3rem;
}
.p-topFaq__btnBox {
  margin-top: 3rem;
}
.p-topFaq__imgBox {
  margin-top: 3rem;
  width: 100%;
}
.p-topFaq__img {
  width: 100%;
}

/* p-topFlow
----------------------------------------------------------------- */
.p-topFlow {
  padding: 6.6rem 0 6rem;
  background: url(../images/top-flow-bg.jpg) no-repeat center top/cover;
}
.p-topFlow__inner {
  padding: 0 1.5rem;
}
.p-topFlow__list {
  margin-top: 2rem;
  display: flex;
  flex-direction: column;
}
.p-topFlow__item {
  display: flex;
  justify-content: flex-end;
  background-color: var(--white);
  padding: 2.8rem 2rem 2.8rem;
  position: relative;
  z-index: 1;
  /* 矢印 */
  /* 画像 */
}
.p-topFlow__item + .p-topFlow__item {
  margin-top: 2.5rem;
  position: relative;
}
.p-topFlow__item + .p-topFlow__item::before {
  content: "";
  position: absolute;
  top: -13.2%;
  left: 50%;
  width: 2.4rem;
  height: 1.3rem;
  transform: translateX(-50%);
  background: url(../images/common/icon-arrow-down.svg) no-repeat center center/contain;
}
.p-topFlow__item::after {
  content: "";
  position: absolute;
  bottom: 0;
  right: 0;
  width: 100%;
  max-width: 10rem;
  height: 100%;
  max-height: 10rem;
  z-index: -1;
}
.p-topFlow__item:first-child::after {
  background: url(../images/top-flow-item1.svg) no-repeat center center/contain;
  bottom: 1.4rem;
  right: 0.7rem;
  width: 9.508rem;
  height: 7.152rem;
}
.p-topFlow__item:nth-child(2)::after {
  background: url(../images/top-flow-item2.svg) no-repeat center center/contain;
  bottom: 1.2rem;
  right: 2.6rem;
  width: 6.4rem;
  height: 8.3rem;
}
.p-topFlow__item:nth-child(3)::after {
  background: url(../images/top-flow-item3.svg) no-repeat center center/contain;
  bottom: 1.1rem;
  right: 1.2rem;
  width: 8.889rem;
  height: 8.333rem;
}
.p-topFlow__item:nth-child(4) {
  padding-top: 2rem;
  padding-bottom: 2rem;
}
.p-topFlow__item:nth-child(4)::after {
  background: url(../images/top-flow-item4.svg) no-repeat center center/contain;
  bottom: 1.2rem;
  right: 1.3rem;
  width: 8.8rem;
  height: 5.6rem;
}
.p-topFlow__numberBox {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: var(--black);
  border-radius: 50%;
  min-height: 8rem;
  min-width: 8rem;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  left: 1.6rem;
}
.p-topFlow__en {
  margin-top: 1rem;
  font-size: 1.5rem;
  font-weight: 600;
  font-family: var(--en);
  line-height: 1;
  color: var(--white);
}
.p-topFlow__number {
  margin-top: 0.3rem;
  font-size: 2.4rem;
  font-weight: 600;
  font-family: var(--en);
  color: var(--en);
}
.p-topFlow__title {
  font-size: 2rem;
  font-weight: 500;
  line-height: 150%;
  color: var(--black);
}
.p-topFlow__text {
  margin-top: 0.3rem;
  font-size: 1.4rem;
  font-weight: 400;
  line-height: 1.7142857143;
  color: var(--black);
  max-width: 22.3rem;
}

/* p-topNews
----------------------------------------------------------------- */
.p-topNews {
  padding: 6rem 0 4.7rem;
  background: url(../images/top-news-bg.jpg) no-repeat center center/cover;
  /* swiper 独自クラスへのCSS */
}
.p-topNews__swiperContainer {
  margin-top: 2rem;
  overflow: hidden;
  position: relative;
}
.p-topNews__swiper {
  overflow: visible;
}
.p-topNews__swiperWrapper {
  align-items: center;
}
.p-topNews__swiperSlide {
  max-width: 30rem;
  width: 100%;
  margin: 0 auto;
  transform: scale(0.7) !important;
  transition: 0.7s;
}
.p-topNews__link {
  display: block;
  transition: scale 0.4s;
}
@media (min-width: 767px) {
  .p-topNews__link:hover .p-topNews__img {
    transform: scale(1.1);
  }
}
.p-topNews__imgBox {
  display: block;
  overflow: hidden;
  max-width: 30rem;
  width: 100%;
}
.p-topNews__img {
  width: 100%;
  height: auto;
  object-fit: cover;
  aspect-ratio: 3/2; /* どのサイズが来ても対応 */
  transition: transform 0.4s;
}
.p-topNews__textBox {
  display: flex;
  align-items: center;
  gap: 1.4rem;
  margin-top: 0.5rem;
}
.p-topNews__tag {
  display: inline-block;
  font-size: 1.4rem;
  font-weight: 500;
  font-family: var(--en);
  line-height: 1.7142857143;
  color: var(--white);
  background: var(--black);
  padding: 0.1rem 0.8rem 0;
  flex-shrink: 0;
}
.p-topNews__box {
  font-size: 1.2rem;
  font-weight: 400;
  color: var(--black);
  display: flex;
  align-items: center;
}
.p-topNews__date {
  margin-right: 1em;
  flex-shrink: 0;
}
.p-topNews__title, .p-topNews__title--none {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}
.p-topNews__title--none {
  margin: 0 auto;
  font-size: 1.4rem;
}
.p-topNews__swiperController {
  position: relative;
  display: flex;
  justify-content: center;
  gap: 1.4rem;
  margin-top: 2.2rem;
  height: 100%;
}
.p-topNews__swiperPaginationBox {
  /* 数字によって左右が動いてしまうのを阻止 */
  min-width: 3.5rem;
  display: flex;
  justify-content: center;
}
.p-topNews__swiperPagination {
  position: relative;
  color: var(--black);
  width: fit-content;
  font-size: 1.5rem;
  font-weight: 600;
  font-family: var(--en);
  line-height: 1;
  color: var(--black);
  top: unset;
  bottom: unset;
  margin-top: 0;
  transform: translateY(25%);
}
.p-topNews__swiperPrev, .p-topNews__swiperNext {
  width: 2.9rem;
  position: relative;
  top: 0;
  left: unset;
  right: unset;
  margin-top: -0.3rem;
  transition: opacity 0.4s;
  display: flex;
  justify-content: center;
  align-items: center;
}
@media (min-width: 767px) {
  .p-topNews__swiperPrev:hover, .p-topNews__swiperNext:hover {
    opacity: 0.65;
  }
}
.p-topNews__swiperPrev::after, .p-topNews__swiperNext::after {
  background-repeat: no-repeat;
  background-size: contain;
  content: "";
  width: 100%;
  height: 100%;
  background: url(../images/common/icon-circleArrow.svg) no-repeat center center/contain;
}
.p-topNews__swiperNext {
  transform: rotate(180deg);
}
.p-topNews__btnBox {
  margin-top: 1.2rem;
}
.p-topNews .swiper-slide-active {
  transform: scale(1) !important;
  z-index: 1;
}
.p-topNews .swiper-slide-prev,
.p-topNews .swiper-slide-next,
.p-topNews .swiper-slide-duplicate-prev,
.p-topNews .swiper-slide-duplicate-next {
  transform: scale(0.7) !important;
}
.p-topNews .swiper-pagination-current {
  /* 現在のスライド番号 */
}
.p-topNews .swiper-pagination-total {
  /* スライド総数 */
}

/* u-display-none
----------------------------------------------------------------- */
.u-displayNone--PU {
  display: none;
}
@media (min-width: 767px) {
  .u-displayNone--PU {
    display: block;
  }
}
.u-displayNone--PO {
  display: block;
}
@media (min-width: 767px) {
  .u-displayNone--PO {
    display: none;
  }
}
.u-displayNone--flexPU {
  display: none;
}
@media (min-width: 767px) {
  .u-displayNone--flexPU {
    display: flex;
  }
}
.u-displayNone--flexPO {
  display: flex;
}
@media (min-width: 767px) {
  .u-displayNone--flexPO {
    display: none;
  }
}