/* c-btn
-----------------------------------------------
------------------ */
@use "../../global" as g;

.c-btn {
  display: flex;
  justify-content: center;
  width: 100%;

  &--black {
    @extend .c-btn;

    .c-btn__link {
      color: var(--white);
      border: 2px solid var(--black);
      background: var(--black);
    }
  }

  &--img {
    @extend .c-btn;
    .c-btn__link {
      display: flex;

      &:hover {
        @include g.hover {
          .c-btn__img {
            fill: var(--black);
          }
        }
      }
    }

    .c-btn__text {
      display: inline-block;
    }

    .c-btn__img {
      margin-left: 0.705rem;
      display: inline-block;
      width: 100%;
      max-width: 1.9rem;
      fill: var(--white);
      transition: all 0.4s;
    }
  }

  &__link {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    min-height: 4.9rem;
    max-width: 23rem;
    border: 2px solid var(--white);
    font-size: 1.5rem;
    font-weight: 600;
    font-family: var(--en);
    line-height: 1;
    color: var(--white);
    transition: all 0.4s;

    &:hover {
      @include g.hover {
        background-color: var(--white);
        color: var(--black);
        border: 2px solid var(--black);
      }
    }
  }
}
