/* c-drawerMenu
-----------------------------------------------
------------------ */
@use "../../global" as g;

.c-drawerMenu {
  display: block;
  position: fixed;
  z-index: 2;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  width: 100%;
  height: 100%;
  background: transparent;
  opacity: 0;
  visibility: hidden;
  transition:
    opacity 0.8s ease,
    visibility 0.8s ease;
  @media screen and (min-width: 1920px) {
    max-width: 192rem;
    margin: 0 auto;
  }

  &::after { // ドロワーを開いた時の背景
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0,0,0,0.42);
    z-index: -1;
    opacity: 0;
    visibility: hidden;
  }

  &.is-open {
    opacity: 1;
    visibility: visible;
    transition:
    opacity 0.6s ease,
    visibility 0.6s ease;

    &::after {
      opacity: 1;
      visibility: visible;
      transition:
        opacity 0.5s .2s ease,
        visibility 0.5s .2s ease;
    }
  }

  &__inner {
    padding-top: 8.7rem;
    padding-bottom: 6rem;
    width: 100%;
    height: min(75.4rem, 100vh);
    overflow: auto;
    z-index: 3;
    background: var(--black);
    @include g.tabletS {
      padding-top: 3rem;
      padding-bottom: 4rem;
      height: 100%;
    }
    @media screen and (max-height: 395px) and (min-width: 767px) {
      height: min(39.5rem, 100vh);
    }
  }

  &__wrap {
    @include g.tabletS {
      position: relative;
    }
  }

  &__logoLink {
    @include g.tabletS {
      max-width: 12.6rem;
      position: absolute;
      top: 1.8rem;
      left: 4.6rem;
    }
  }

  &__logoImg {
    width: 100%;
  }

  &__headingBox {
    text-align: center;
  }

  &__heading {
    font-size: 3.6rem;
    font-weight: 500;
    font-family: var(--en);
    line-height: 150%;
    color: var(--white);
    @include g.tabletS {
      font-size: 4.8rem;
    }
  }

  &__nav {
    margin-top: 1.6rem;
    @include g.tabletS {
      margin-top: 4.2rem;
    }
  }

  &__menu {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    @include g.tabletS {
      display: flex;
    }
  }

  &__menuItem {
    border-top: 1px solid var(--white);
    width: 100%;
    @include g.tabletS {
      border-bottom: 1px solid var(--white);
    }

    &:not(:first-child) {
      @include g.tabletS {
        border-left: 1px solid var(--white);
      }
    }

    /* SP時の指定 Start */
    &:first-child {
      @media screen and (max-width: 767px) {
        order: 1;
        border-right: 1px solid var(--white);
      }
    }

    &:nth-child(2) {
      @media screen and (max-width: 767px) {
        order: 3;
        border-right: 1px solid var(--white);
      }
    }

    &:nth-child(3) {
      @media screen and (max-width: 767px) {
        order: 2;
      }
    }

    &:nth-child(4) {
      @media screen and (max-width: 767px) {
        order: 5;
        border-right: 1px solid var(--white);
        border-bottom: 1px solid var(--white);
      }
    }

    &:nth-child(5) {
      @media screen and (max-width: 767px) {
        order: 4;
      }
    }

    &:last-child {
      @media screen and (max-width: 767px) {
        order: 6;
      }
    }
    /* SP時の指定 End */
  }

  &__menuLink {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 0.8rem;
    width: 100%;
    height: 100%;
    min-height: 8.3rem;
    font-size: 2.4rem;
    font-weight: 600;
    font-family: var(--en);
    line-height: 1;
    color: var(--white);

    &:active { // スマホ・タブレット タップ時の色
      background: var(--white);
      color: var(--black);
    }

    &:hover {
      @include g.hover {
        background: var(--white);
        color: var(--black);
      }
    }
  }

  &__subText {
    font-size: 0.5833em;
    font-weight: 500;
    font-family: var(--ja);
  }

  &__bottomContents {
    margin-top: 1.6rem;
    @include g.tabletS {
      margin-top: 4rem;
      display: flex;
      flex-wrap: wrap;
      justify-content: center;
      gap: 4rem 8rem;
    }
  }

  &__btnWrap {
    padding: 0 2.5rem;
    @include g.tabletS {
      padding: 0;
      display: flex;
      justify-content: center;
      align-items: center;
      width: 100%;
      max-width: 76rem;
      gap: 6rem;
    }
  }

  &__btnContact {
    @include g.tabletS {
      width: 100%;
      max-width: 34rem;
    }
  }

  &__btnResevation {
    margin-top: 2rem;
    @include g.tabletS {
      margin-top: 0;
      width: 100%;
      max-width: 34rem;
    }
  }

  &__btnLink {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    max-width: 34rem;
    padding: 2.1rem 0 1.9rem;
    font-size: 2.4rem;
    font-weight: 600;
    font-family: var(--en);
    line-height: 1;
    background: var(--white);
    color: var(--black);
    transition: opacity 0.3s;

    &--bgImage {
      @extend .c-drawerMenu__btnLink;
      background: url(../images/common/cta-btn.jpg) no-repeat center center / cover;
      color: var(--white);
    }

    &:hover {
      @include g.hover {
        opacity: 0.65;
      }
    }
  }

  &__btnSubText {
    font-size: 0.583333em;
    font-weight: 500;
  }

  &__btnMainText {
    margin-top: 0.7rem;
    display: inline-block;
  }

  &__snsBox {
    margin-top: 2rem;
    display: flex;
    justify-content: center;
    align-items: center;
    @include g.tabletS {
      max-width: 27.8rem;
      justify-content: flex-start;
      width: fit-content;
    }
  }

  &__snsBox {
    margin-top: 2rem;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 4rem;
    @include g.tabletS {
      margin-top: 0;
      width: 100%;
      justify-content: center;
      gap: 8rem;
    }
  }

  &__snsItem {
    max-width: 5.9rem;
    width: 100%;
    @include g.tabletS {
      max-width: 7rem;
    }
  }

  &__snsLink {
    display: block;
    max-width: 5.9rem;
    width: 100%;
    transform: all 0.4s;
    @include g.tabletS {
      max-width: 7rem;
    }

    &:active {
      transform: scale(1.1);
    }

    &:hover {
      @include g.hover {
        transform: scale(1.1);
      }
    }
  }

  &__snsImg {
    width: 100%;
  }
}