/* c-heading
----------------------------------------------------------------- */
@use "../../global" as g;

/* サンプルスタイル ここを参考にしてください */
.c-heading {
  padding: 2rem;
  @include g.tabletS {
    /*メディアクエリは改行なしで、一番上*/
    padding: 2rem;
  }

  &--pTopNormal {
    /*モディファイアは１改行いれる 順番はモディファイアが先*/
    @extend .c-heading;
    padding-top: 1rem;
  }

  &__item {
    /*エレメントは１改行いれる 順番はモディファイアの後*/
    font-size: 2rem;
    line-height: 1.5;

    .c-heading__img {
      /*入れ子にする入れ子は途中で切らない*/
      width: 3rem;
    }
  }

  &__img {
    /*外で一旦エレメントを作り入れ子にする*/
    width: 2rem;
  }
}
