/* l-header
----------------------------------------------------------------- */
@use "../global" as g;

.l-bigWrapper {
  position: relative;
  @include g.tabletS {
    max-width: 39rem;
    margin-left: auto;
    // margin-right: calc(31 / 1440 * 100%);
    z-index: 10;
    background-color: var(--black);
    margin-right: calc(31 / 1440 * 100%);
  }
}

@media screen and (min-width: 768px) and (max-width: 920px) {
  .top .l-bigWrapper {
    margin-right: calc(44 / 920 * 100vw);
  }
}

@media screen and (min-width: 921px) {
  .top .l-bigWrapper {
    margin-right: calc(31 / 1440 * 100%);
  }
}
