/* c-loopImages
----------------------------------------------------------------- */
@use "../../global" as g;

.c-loopImages {
  /* Start swiperImages */
  &__imagesSwiperContainer {
    overflow: hidden;
  }

  &__imagesSwiper {
    overflow: visible;
  }

  &__imagesWrapper {
    transition-timing-function: linear;
    align-items: center;
  }

  &__imagesSlide {
    width: auto !important;
    max-width: 16rem;
    @include g.tabletM {
      max-width: 20.2rem;
    }
  }

  &__imagesSlideImg {
    width: 100%;
  }
  /* End swiperImages */
}
